<div *ngIf="showSidebarMenuBack" layout="column" layout-fill flex>
  <div class="size-height-24"></div>

  <div class="size-height-12"></div>

  <div class="size-height-50"></div>

  <div layout="column" layout-align="start center" flex>
    <mat-nav-list class="menu-sidenav" flex>
      <a mat-list-item (click)="onBackPage()" href="javascript:void(null);">
        <mat-icon matListAvatar class="tc-grey-50">undo</mat-icon>
      </a>
    </mat-nav-list>
  </div>
</div>

<div *ngIf="!showSidebarMenuBack" layout="column" layout-fill flex>
  <div class="size-height-24"></div>

  <div class="size-height-12"></div>

  <div class="size-height-50"></div>

  <div layout="column" layout-align="start center" flex>
    <mat-nav-list class="sidenav-menu" flex>
      <ng-template ngFor let-menu let-last="last" [ngForOf]="menus">
        <a *ngxPermissionsOnly="menu.permissionsOnly" mat-list-item [routerLink]="menu.routerLink" [class.selected]="selectedMenu === menu" (click)="setSelectedMenu(menu)">
          <mat-icon matListAvatar
                  [ngClass]="menu.iconColorClass"
                  matTooltip="{{menu.toolTip | translate}}"
                  matTooltipPosition="after">
            <span [ngClass]="menu.iconClass"></span>
          </mat-icon>
          <span *ngIf="menu.notifications" class="floating ui circular red label">{{menu.notifications.count}}</span>
        </a>
      </ng-template>
    </mat-nav-list>
  </div>

  <div layout="column" layout-align="center center">
    <mat-nav-list class="sidenav-menu" flex>
      <a mat-list-item>
        <div class="ui left floating dropdown labeled icon languages">
          <mat-icon matListAvatar
                  class="tc-grey-50"
                  matTooltip="{{'Zmiana języka' | translate}}"
                  matTooltipPosition="after">
            <span class="mdi mdi-web"></span>
          </mat-icon>

          <div class="menu menu-languages">
            <div class="header">{{'Wyszukaj' | translate}}</div>
            <div class="ui icon search input">
              <i class="search icon"></i>
              <input type="text" placeholder="{{'Wyszukaj' | translate}}">
            </div>

            <div class="divider"></div>

            <ng-template ngFor let-language let-last="last" [ngForOf]="languages">
              <div class="item" [attr.data-value]="language.code">
                <i class="{{language.flag}} flag"></i>
                <span class="description">{{language.desc}}</span>
                {{language.name}}
              </div>
            </ng-template>
          </div>
        </div>
      </a>

      <a mat-list-item>
        <div class="ui left floating dropdown labeled icon account">
          <div class="pad-left-xs pad-right-xs icon"
              matTooltip="{{'Moje konto' | translate}}"
              matTooltipPosition="after">
            <ngx-avatar name="{{userLogged?.fullName}}" size="32"></ngx-avatar>
          </div>

          <div class="ui menu menu-account">
            <a class="item" [routerLink]="['/account', 'profile', 'details']">
              <h4 class="ui header">
                <ngx-avatar class="ui image" name="{{userLogged?.fullName}}" size="32"></ngx-avatar>
                <div class="content">
                  <span>{{userLogged?.fullName}}</span>
                  <div class="sub header">{{userLogged?.email}}</div>
                </div>
              </h4>
            </a>
            <div class="divider"></div>
            <a class="item" [routerLink]="['/account', 'profile', 'details']">
              <i class="settings icon"></i>
              {{'Ustawienia' | translate}}
            </a>
            <a class="item" [routerLink]="['/account', 'profile', 'security']">
              <i class="edit icon"></i>
              {{'Zmiana hasła' | translate}}
            </a>
            <div class="divider"></div>
            <a class="item">
              <i class="grid user lock icon"></i>
              {{'Zablokuj' | translate}}
            </a>
            <a class="item" (click)="onLogout()">
              <i class="grid sign out alternate icon"></i>
              {{'Wyloguj' | translate}}
            </a>
          </div>
        </div>
      </a>

      <a mat-list-item (click)="onLogout()" href="javascript:void(null);">
        <mat-icon matListAvatar
                class="tc-grey-50"
                matTooltip="{{'Wyloguj' | translate}}"
                matTooltipPosition="after">exit_to_app</mat-icon>
      </a>
    </mat-nav-list>
  </div>

  <div class="size-height-32"></div>
</div>

<!-- okno dialogowe powrotu -->
<div class="ui basic tiny modal modal-back-page">
  <div class="ui icon header">
    <i class="question circle outline icon"></i>
    {{'Przerwanie wprowadzania danych' | translate}}
  </div>
  <div class="content">
    <p>{{'Wprowadzone dotychczasowe dane zostaną utracone bezpowrotnie. Czy jesteś pewien, że chcesz przerwać działanie kreatora?' | translate}}</p>
  </div>
  <div class="actions">
    <div class="ui basic cancel inverted button">
    <i class="remove icon"></i>
    {{'Nie' | translate}}
    </div>
    <div class="ui red ok inverted button">
    <i class="checkmark icon"></i>
    {{'Tak' | translate}}
    </div>
  </div>
</div>

<!-- okno dialogowe potwierdzenia wylogowania z aplikacji -->
<div class="ui basic tiny modal modal-logout">
  <div class="ui icon header">
    <i class="sign out alternate icon"></i>
    {{'Wylogować?' | translate}}
  </div>
  <div class="content">
    <p>{{'Czy na pewno chcesz wylogować się z aplikacji?' | translate}}</p>
  </div>
  <div class="actions">
    <div class="ui basic cancel inverted button">
    <i class="remove icon"></i>
    {{'Nie' | translate}}
    </div>
    <div class="ui green ok inverted button">
    <i class="checkmark icon"></i>
    {{'Tak' | translate}}
    </div>
  </div>
</div>
