<div class="ui two column grid masthead-filters">
    <div class="column row">
      <form class="ui form">
        <div class="field">
          <div class="ui toggle checkbox checkbox-only-user-email-confirmed">
            <input type="checkbox" name="only-user-email-confirmed">
            <label>{{'Konta potwierdzone weryfikacją e-mail' | translate}}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui toggle checkbox checkbox-only-user-active">
            <input type="checkbox" name="only-user-user-active">
            <label>{{'Konta zablokowane' | translate}}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui toggle checkbox checkbox-only-user-temporary-access">
            <input type="checkbox" name="only-user-temporary-access">
            <label>{{'Konta z ograniczonym dostępem czasowym' | translate}}</label>
          </div>
        </div>
      </form>
    </div>
</div>
  