<div class="ui column grid masthead-loading">
  <div class="column" style="padding: 0;">
    <div *tdLoading="'listSyntax'; type:'linear'; mode:'indeterminate'; color:'primary'"></div>
  </div>
</div>

<div class="masthead">
  <div class="ui two column grid masthead-header">
    <div class="column row">
      <div class="left aligned six wide column">
        <h4 class="ui header">
          <div class="content">
            <span class="mat-title">{{'Twoje konto' | translate}}</span>
            <span class="pad-left-md pad-right-md tc-blue-grey-200" style="vertical-align: sub; font-size: 2em; font-weight: lighter;">|</span>
            <span class="mat-title tc-blue-grey-600" style="font-weight: bold;">{{userLogged?.firstName}}</span>
          </div>
        </h4>
      </div>
      <div class="right aligned ten wide column">
        <div class="row">
          <button class="ui teal button" (click)="saveUser()" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
            <i class="icon check"></i>
            {{'Zatwierdź' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="ui column centered grid masthead-profile">
    <div class="column row">
      <div class="left aligned sixteen wide column">
        <div class="ui basic segment">
          <div class="ui centered grid">
            <div class="fourteen wide column">
              <div layout="row" layout-align="start start">
                <h3 class="ui header">
                  <!-- <i class="lightbulb outline icon tc-teal-400 pad-right-sm" style="font-size: 2.5em;"></i> -->
                  <ngx-avatar class="ui image" name="{{userLogged?.fullName}}" size="64"></ngx-avatar>

                  <div class="content">
                    <div layout="row" layout-align="start center" flex>
                      <span class="ui large text">{{userLogged?.fullName}}</span>
                    </div>

                    <div class="size-height-12"></div>

                    <div class="sub header">
                      <div class="ui label"><i class="at icon"></i> {{userLogged?.email}}</div>
                      <div *ngIf="userLogged?.phoneNumber" class="ui label"><i class="phone icon"></i> {{userLogged?.phoneNumber}}</div>
                      <div class="ui label"><i class="circle green icon"></i> {{'online' | translate}}</div>
                    </div>
                  </div>
                </h3>

                <div class="size-width-50"></div>

                <div layout="row" layout-align="end end" style="margin-top: 2em;" flex>
                  <ng-template ngFor let-stat let-i="index" let-last="last" [ngForOf]="stats">
                    <div class="ui tiny grey statistic" style="margin: 0; padding: 0 2em;">
                      <div class="label tc-grey-400" style="padding-bottom: .1em; text-align: left;">
                        <span style="font-size: 75%;">{{stat.name | translate}}</span>
                      </div>
                      <div class="value">
                        <!-- <i class="{{stat.icon}} icon"></i> -->
                        <span style="font-size: 50%;">{{stat.value}}</span>
                        <div style="margin-top: 0em; width: 1em; border-bottom: .2em solid rgba(38,166,154,1);"></div>
                      </div>

                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider" style="border-width: .2em; margin: 0;"></div>

  <div class="ui column centered grid masthead-filter">
    <div class="column row" style="padding-bottom: 0;">
      <div class="left aligned sixteen wide column">
        <div class="ui basic segment" style="padding-bottom: 0;">
          <div class="ui column grid">
            <div class="right aligned column">
              <!-- <button class="ui circular teal button" (click)="saveUser()" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
                <i class="check icon"></i>
                <span>{{'Zatwierdź' | translate}}</span>
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui column centered grid masthead-content">
    <div class="column row">
      <div class="sixteen wide column">
        <div class="ui basic segment">
          <form class="ui form">
            <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="changeTab($event)">
              <mat-tab label="{{'Szczegóły konta' | translate}}">
                <div class="ui basic segment bgc-grey-50" style="margin: 0;">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Szczegóły konta' | translate}}</span>
                      <div class="sub header">{{'Podstawowe informacje o tworzonym koncie lub dane pobrane z usługi Active Directory.' | translate}}</div>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment">
                  <div class="ui grid">
                    <div class="ten wide column">
                      <div class="ui column middle aligned grid">
                        <div class="row">
                          <div class="six wide column">
                            <i class="small hashtag icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Nazwa konta' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="userLogged.userName"
                                  type="text" name="userName" placeholder="{{'Wprowadź' | translate}}">
                            </div>

                            <div class="ui message">
                              <ul class="list mat-small">
                                <li>{{'Nazwa wymaga wprowadzenia znaków specjalnych' | translate}}</li>
                                <li>{{'Nazwa wymaga minimum 8 znaków' | translate}}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="six wide column">
                            <i class="small at icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Adres e-mail' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="userLogged.email"
                                  type="text" name="email" placeholder="{{'Wprowadź' | translate}}">
                            </div>

                            <div class="ui message">
                              <ul class="list mat-small">
                                <li>{{'Adres powinien zawierać odpowiednie znaki' | translate}}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="six wide column">
                            <i class="small font icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Imię (imiona)' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="userLogged.firstName"
                                  type="text" name="firstName" placeholder="{{'Wprowadź' | translate}}">
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="six wide column">
                            <i class="small font icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Nazwisko' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="userLogged.lastName"
                                  type="text" name="lastName" placeholder="{{'Wprowadź' | translate}}">
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="six wide column">
                            <i class="small phone icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Numer kontaktowy' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="userLogged.phoneNumber"
                                  type="text" name="phoneNumber" placeholder="{{'Wprowadź' | translate}}">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="size-height-12"></div>
                  </div>
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>

              <mat-tab label="{{'Bezpieczeństwo' | translate}}">
                <div class="ui basic segment bgc-grey-50" style="margin: 0;">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Hasło użytkownika' | translate}}</span>
                      <div class="sub header">{{'Zmiana hasła użytkownika dostępu do konta w systemie lub informacje pobrane z usługi Active Directory.' | translate}}</div>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment">
                  <div class="ui grid">
                    <div class="ten wide column">

                      <div *ngIf="userLogged?.logins.length" class="ui icon message" style="margin: 0 -1em;">
                        <i class="info circle icon"></i>
                        <div class="content">
                          <div class="header">
                            <span translate>Konto powiązane z usługą '{{userLogged?.provider.name}}'</span>
                          </div>
                          <p translate>Twoje konto zostało utworzone na podstawie konta z portalu społecznościowego usługi '{{userLogged?.provider.name}}'. W takim przypadku zmiana hasła dostępu do Twojego konta użytkownika jest niemożliwa.</p>
                        </div>
                      </div>

                      <div *ngIf="!userLogged?.logins.length" class="ui column middle aligned grid">
                        <div class="row">
                          <div class="six wide column">
                            <i class="small hashtag icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Stare hasło' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="userLogged.password"
                                  type="password" name="password" placeholder="{{'Wprowadź' | translate}}" [disabled]="userLogged?.logins.length">
                            </div>

                            <div class="ui message">
                              <ul class="list mat-small">
                                <li>{{'Hasło wymaga wprowadzenia znaków specjalnych' | translate}}</li>
                                <li>{{'Hasło wymaga minimum 10 znaków' | translate}}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="six wide column">
                            <i class="small hashtag icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Nowe hasło' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="userLogged.passwordNew"
                                  type="password" name="passwordNew" placeholder="{{'Wprowadź' | translate}}" [disabled]="userLogged?.logins.length">
                            </div>

                            <div class="ui message">
                              <ul class="list mat-small">
                                <li>{{'Hasło wymaga wprowadzenia znaków specjalnych' | translate}}</li>
                                <li>{{'Hasło wymaga minimum 10 znaków' | translate}}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="six wide column">
                            <i class="small hashtag icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Powtórz hasło' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="userLogged.passwordConfirm"
                                  type="password" name="passwordConfirm" placeholder="{{'Wprowadź' | translate}}" [disabled]="userLogged?.logins.length">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="size-height-12"></div>
                  </div>
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>

              <mat-tab label="{{'Rejestr zdarzeń' | translate}}">
                <div class="ui basic segment bgc-grey-50" style="margin: 0;">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Rejestr zdarzeń' | translate}}</span>
                      <div class="sub header">{{'Przeglądanie historii wykonywanych operacji przez użytkownika na koncie.' | translate}}</div>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment">
                  <div class="ui grid">
                    <div class="ten wide column">
                      <div class="ui column middle aligned grid">

                      </div>
                    </div>

                    <div class="size-height-12"></div>
                  </div>
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>

              <mat-tab label="{{'Zgody i oświadczenia' | translate}}">
                <div class="ui basic segment bgc-grey-50" style="margin: 0;">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Zgody i oświadczenia' | translate}}</span>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment">
                  <div class="ui grid">
                    <div class="ten wide column">
                      <div class="ui column middle aligned grid">
                        <div class="row">
                          <div class="twelve wide column">
                            <i class="small handshake outline icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Zgoda na marketing drogą elektroniczną (w tym: powiadomienia z aplikacji mobilnej).' | translate}}</span>
                          </div>
                          <div class="four wide column">
                            <div class="field">
                              <div class="ui toggle checkbox checkbox-account-1">
                                <input type="checkbox" name="public">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="twelve wide column">
                            <i class="small handshake outline icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Zgoda na marketing drogą telefoniczną.' | translate}}</span>
                          </div>
                          <div class="four wide column">
                            <div class="field">
                              <div class="ui toggle checkbox checkbox-account-2">
                                <input type="checkbox" name="public">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="twelve wide column">
                            <i class="small handshake outline icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Otrzymywanie profilowanych informacji marketingowych.' | translate}}</span>
                          </div>
                          <div class="four wide column">
                            <div class="field">
                              <div class="ui toggle checkbox checkbox-account-3">
                                <input type="checkbox" name="public">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="size-height-12"></div>
                  </div>
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>
            </mat-tab-group>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
