.masthead-loading {
  margin: 0 !important;
  padding: 0 !important;
  height: 0;
}
.masthead-header {
  margin: 0;
  padding: .25em 2.5em 0 5em;
}
.masthead-filter {
  margin: -3.5em 5em 0 5em;
}
.masthead-profile {
  margin: 0 !important;
  background-color: rgba($color: #cccbd5, $alpha: .1);
}
.masthead-content {
  margin: 0 5em;
}
.ui.statistic>.value {
  text-align: left !important;
  padding-bottom: .3em !important;
}
.ui.header>.image:not(.icon), .ui.header>img {
  min-width: 4em !important;
}
