<div class="ui column grid masthead-loading">
  <div class="column" style="padding: 0;">
    <div *tdLoading="'listSyntax'; type:'linear'; mode:'indeterminate'; color:'primary'"></div>
  </div>
</div>

<div class="masthead">
  <div class="ui two column grid masthead-header">
    <div class="column row">
      <div class="left aligned six wide column">
        <h4 class="ui header">
          <div class="content">
            <span class="mat-title">{{'Użytkownik' | translate}}</span>
            <span class="pad-left-md pad-right-md tc-blue-grey-200" style="vertical-align: sub; font-size: 2em; font-weight: lighter;">|</span>
            <span class="mat-title tc-blue-grey-600" style="font-weight: bold;">{{configHeader.title | translate}}</span>
          </div>
        </h4>
      </div>
      <div class="right aligned ten wide column">
        <div class="row">
          <!-- <button class="ui basic button" (click)="back()">
              <i class="icon times"></i>
              {{'Anuluj' | translate}}
          </button>
          <span class="pad-xs"></span> -->
          <button class="ui teal button" (click)="confirmForm()" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
              <i class="icon check"></i>
              {{'Zatwierdź' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="ui column centered grid masthead-stats">
    <div class="column row">
      <div class="left aligned sixteen wide column">
        <div class="ui basic segment">
          <div class="ui centered grid">
            <div class="fourteen wide column">
              <div layout="row" layout-align="start start">
                <h3 class="ui header">
                  <!-- <i class="lightbulb outline icon tc-teal-400 pad-right-sm" style="font-size: 2.5em;"></i> -->
                  <i class="user plus icon tc-teal-400 pad-right-sm" style="font-size: 2.5em;"></i>
                  <div class="content">
                    <div layout="row" layout-align="start center" flex>
                      <span class="ui large text tc-teal-800">{{steps[stepper.selectedIndex].label | translate}}</span>
                    </div>

                    <div class="size-height-12"></div>

                    <div class="sub header" style="max-width: 420px;">
                      <span class="description">{{steps[stepper.selectedIndex].description | translate}}</span>
                    </div>
                  </div>
								</h3>
                <!-- <div layout="column" layout-align="start start">
                  <h3 class="ui header">
                    <i class="user plus icon tc-teal-400 pad-right-sm" style="font-size: 2.5em;"></i>
                  </h3>
                </div>

                <div class="size-width-24"></div>

                <div layout="row" layout-align="start start" flex>
                  <h3 class="ui header">
                    <div class="content">
                      <div class="title tc-teal-800">{{steps[stepper.selectedIndex].label | translate}}</div>
                      <div class="sub header" style="max-width: 380px;">
                        <span class="description">{{steps[stepper.selectedIndex].description | translate}}</span>
                      </div>
                    </div>
                  </h3>
                </div> -->
              </div>

              <div class="size-height-12"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider" style="border-width: .2em; margin: 0;"></div>

  <div #filter class="ui column centered grid masthead-filter">
    <div class="column row" style="padding-bottom: 0;">
      <div class="right aligned sixteen wide column">
        <div class="ui basic segment" style="padding-bottom: 0;">
          <button class="ui circular button" (click)="stepper.previous()">

            <i class="arrow left icon"></i>
            {{'Cofnij' | translate}}
          </button>

          <button class="ui circular button"
            style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);" (click)="stepper.next()">

            {{'Przejdź dalej' | translate}}
            <i class="arrow right icon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="ui column grid masthead-content">
    <div class="column row">

      <!-- <div class="sixteen wide column">
        <div class="ui basic segment">
          <ng-container *ngTemplateOutlet="template; context: { context: error }"></ng-container>
        </div>
      </div> -->

      <div class="sixteen wide column">
        <div class="ui basic segment">
          <form class="ui form">
            <app-stepper-custom #stepper [stepsList]="steps" [error]="error" [selectedIndex]="selectedIndexStep" (selectionChange)="changeStep($event)">
              <!-- typ konta -->
              <cdk-step>
                <div class="ui grid">
                  <div class="sixteen wide column">
                    <div class="ui teal basic segment bgc-grey-50" style="margin: 0;">
                      <h3 id="step-account" class="ui header">
                        <div class="content">
                          {{'Typ konta' | translate}}
                          <div class="sub header">{{'Podstawowe informacje o tworzonym koncie lub dane pobrane z usługi Active Directory.' | translate}}</div>
                        </div>
                      </h3>

                      <div class="size-height-12"></div>
                    </div>

                    <div class="ui basic segment" style="margin: 0;">
                      <div class="ui column middle aligned grid">
                        <div class="row">
                          <div class="six wide column">
                            <i class="small user outline icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Typ konta' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div layout="row" layout-align="start center" flex>
                              <div class="ui button button-checkbox checkbox checkbox-type-account-local">
                                <input type="checkbox" name="type-account">
                                <label style="display: contents;">
                                  <div layout="column" layout-align="end center">
                                    <i class="user outline icon"></i>
                                    <span>{{'Konto lokalne' | translate}}</span>
                                  </div>
                                </label>
                              </div>
                              <div class="pad-xs"></div>
                              <div class="ui button button-checkbox checkbox checkbox-type-account-domain">
                                <input type="checkbox" name="type-account">
                                <label style="display: contents;">
                                  <div layout="column" layout-align="end center">
                                    <i class="windows icon"></i>
                                    <span>{{'Konto domenowe' | translate}}</span>
                                  </div>
                                </label>
                              </div>
                            </div>

                            <div class="ui message">
                              <p class="mat-caption">{{'Wybranie typu konta na podstawie, którego użytkownik będzie logował się w aplikacji. Kreator pozwala na stworzenie konta ręcznie podając wszystkie wymagane pola lub na podstawie danych konta istniejącego w usłudze Ldap.' | translate}}</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="size-height-24"></div>
                    </div>

                    <div class="ui divider" style="margin: 0; border-width: .2em;"></div>
                  </div>
                </div>
              </cdk-step>

              <!-- konto użytkownika -->
              <cdk-step>
                <div class="ui grid">
                  <div class="sixteen wide column">
                    <ng-container [ngSwitch]="accountType">
                      <div class="ui teal basic segment bgc-grey-50" style="margin:0;">
                        <h3 id="step-account" class="ui header">
                          <div class="content">
                            <span *ngSwitchCase="'local'">{{'Konto lokalne' | translate}}</span>
                            <span *ngSwitchCase="'domain'">{{'Konto domenowe' | translate}}</span>
                            <div class="sub header">{{'Uzupełnienie podstawowych informacji o koncie użytkownika.' | translate}}</div>
                          </div>
                        </h3>

                        <div class="size-height-12"></div>
                      </div>

                      <div class="ui basic segment" style="margin: 0;">
                        <div *ngSwitchCase="'local'" class="ui column middle aligned grid">
                          <div class="row">
                            <div class="six wide column">
                              <i class="small hashtag icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                              <span class="pad-xs"></span>
                              <span class="tc-grey-600">{{'Nazwa konta' | translate}}</span>
                            </div>
                            <div class="ten wide column">
                              <div class="required field">
                                <input [(ngModel)]="user.userName"
                                    type="text" name="userName" placeholder="{{'Wprowadź' | translate}}">
                              </div>

                              <div class="ui message">
                                <ul class="list mat-small">
                                  <li>{{'Nazwa wymaga wprowadzenia znaków specjalnych' | translate}}</li>
                                  <li>{{'Nazwa wymaga minimum 8 znaków' | translate}}</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                          <div class="row">
                            <div class="six wide column">
                              <i class="small at icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                              <span class="pad-xs"></span>
                              <span class="tc-grey-600">{{'Adres e-mail' | translate}}</span>
                            </div>
                            <div class="ten wide column">
                              <div class="required field">
                                <input [(ngModel)]="user.email"
                                    type="text" name="email" placeholder="{{'Wprowadź' | translate}}">
                              </div>

                              <div class="ui message">
                                <ul class="list mat-small">
                                  <li>{{'Adres powinien zawierać odpowiednie znaki' | translate}}</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                          <div class="row">
                            <div class="six wide column">
                              <i class="small font icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                              <span class="pad-xs"></span>
                              <span class="tc-grey-600">{{'Imię (imiona)' | translate}}</span>
                            </div>
                            <div class="ten wide column">
                              <div class="required field">
                                <input [(ngModel)]="user.firstName"
                                    type="text" name="firstName" placeholder="{{'Wprowadź' | translate}}">
                              </div>
                            </div>
                          </div>
                          <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                          <div class="row">
                            <div class="six wide column">
                              <i class="small font icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                              <span class="pad-xs"></span>
                              <span class="tc-grey-600">{{'Nazwisko' | translate}}</span>
                            </div>
                            <div class="ten wide column">
                              <div class="required field">
                                <input [(ngModel)]="user.lastName"
                                    type="text" name="lastName" placeholder="{{'Wprowadź' | translate}}">
                              </div>
                            </div>
                          </div>
                          <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                          <div class="row">
                            <div class="six wide column">
                              <i class="small phone icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                              <span class="pad-xs"></span>
                              <span class="tc-grey-600">{{'Numer kontaktowy' | translate}}</span>
                            </div>
                            <div class="ten wide column">
                              <div class="required field">
                                <input [(ngModel)]="user.phoneNumber"
                                    type="text" name="phoneNumber" placeholder="{{'Wprowadź' | translate}}">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div *ngSwitchCase="'domain'" class="ui column middle aligned grid">
                          <div class="row">
                            <div class="six wide column">
                              <i class="small windows icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                              <span class="pad-xs"></span>
                              <span class="tc-grey-600">{{'Konto domenowe' | translate}}</span>
                            </div>
                            <div class="ten wide column">
                              <div class="required field">
                                <div class="ui fluid multiple search normal selection dropdown dropdown-ldap">
                                  <input type="hidden" name="ldap">
                                  <i class="dropdown icon"></i>
                                  <div class="default text">{{'Wyszukaj użytkownika' | translate}}</div>
                                  <div class="menu"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="size-height-12"></div>
                      </div>
                    </ng-container>

                    <div class="ui divider" style="margin: 0; border-width: .2em;"></div>
                  </div>
                </div>
              </cdk-step>

              <!-- hasło użytkownika -->
              <cdk-step>
                <div class="ui grid">
                  <div class="sixteen wide column">
                    <ng-container [ngSwitch]="accountType">
                      <div class="ui teal basic segment bgc-grey-50" style="margin:0;">
                        <h3 id="step-account" class="ui header">
                          <div class="content">
                            <span>{{'Hasło dostępu' | translate}}</span>
                            <div class="sub header">{{'Ustawienie hasła dostępu do konta użytkownika.' | translate}}</div>
                          </div>
                        </h3>

                        <div class="size-height-12"></div>
                      </div>

                      <div class="ui basic segment" style="margin: 0;">
                        <div *ngSwitchCase="'local'" class="ui column middle aligned grid">
                          <div class="row">
                            <div class="six wide column">
                              <i class="small hashtag icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                              <span class="pad-xs"></span>
                              <span class="tc-grey-600">{{'Nowe hasło' | translate}}</span>
                            </div>
                            <div class="ten wide column">
                              <div class="required field">
                                <input [(ngModel)]="user.password"
                                    type="password" name="password" placeholder="{{'Wprowadź' | translate}}">
                              </div>

                              <div class="ui message">
                                <ul class="list mat-small">
                                  <li>{{'Hasło wymaga wprowadzenia znaków specjalnych' | translate}}</li>
                                  <li>{{'Hasło wymaga minimum 10 znaków' | translate}}</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                          <div class="row">
                            <div class="six wide column">
                              <i class="small hashtag icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                              <span class="pad-xs"></span>
                              <span class="tc-grey-600">{{'Powtórz hasło' | translate}}</span>
                            </div>
                            <div class="ten wide column">
                              <div class="required field">
                                <input [(ngModel)]="user.passwordConfirm"
                                    type="password" name="passwordConfirm" placeholder="{{'Wprowadź' | translate}}">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div *ngSwitchCase="'domain'" class="ui column middle aligned grid">
                          <div class="row" flex>
                            <div class="ui message">
                              <div class="header">
                                <div layout="row" layout-align="start stretch">
                                  <i class="lightbulb yellow icon"></i>
                                  <span class="mat-small" style="font-weight: bold;">{{'Konto domenowe' | translate}}</span>
                                </div>
                              </div>
                              <p class="mat-caption">{{'Dostęp do konta użytkownika odbywa się na zasadach określonych kontem domenowym Ldap w sieci Windows. W razie pytań lub problemów skontaktuj się z Administratorem systemu.' | translate}}</p>
                            </div>
                          </div>
                        </div>

                        <div class="size-height-12"></div>
                      </div>
                    </ng-container>

                    <div class="ui divider" style="margin: 0; border-width: .2em;"></div>
                  </div>
                </div>
              </cdk-step>

              <!-- uprawnienia i role  -->
              <cdk-step>
                <div class="ui width grid">
                  <div class="sixteen wide column">
                    <div class="ui teal basic segment bgc-grey-50" style="margin:0;">
                      <h3 id="step-account" class="ui header">
                        <div class="content">
                          {{'Role' | translate}}
                          <div class="sub header">{{'Przypisanie odpowiedniej roli w aplikacji dla użytkownika.' | translate}}</div>
                        </div>
                      </h3>

                      <div class="size-height-12"></div>
                    </div>

                    <div class="ui basic segment" style="margin: 0;">
                      <div class="ui column middle aligned grid">
                        <div class="row">
                          <div class="six wide column">
                            <i class="small key icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Role w aplikacji' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <div class="ui fluid multiple search normal selection dropdown dropdown-roles">
                                <input type="hidden" name="roles">
                                <i class="dropdown icon"></i>
                                <div class="default text">{{'Wybierz rolę' | translate}}</div>
                                <div class="menu">
                                  <ng-container *ngFor="let role of roles">
                                    <div class="item" [attr.data-value]="role.value">
                                      <i class="key icon"></i>
                                      <span>{{role.name}}</span>
                                    </div>
                                  </ng-container>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="size-height-12"></div>
                    </div>

                    <div class="size-height-24"></div>

                    <div class="ui teal basic segment bgc-grey-50" style="margin:0;">
                      <h3 id="step-account" class="ui header">
                        <div class="content">
                          {{'Uprawnienia' | translate}}<span class="mat-body-1 pad-left-xs">{{'(opcjonalnie)' | translate}}</span>
                          <div class="sub header">{{'Opcjonalny dostęp do dodatkowych uprawnień w systemie.' | translate}}</div>
                        </div>
                      </h3>

                      <div class="size-height-12"></div>
                    </div>

                    <div class="ui basic segment" style="margin: 0;">
                      <div class="ui column middle aligned grid">
                        <div class="row">
                          <div class="six wide column">
                            <i class="small key icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Uprawnienia w aplikacji' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="field">
                              <div class="ui fluid multiple search normal selection dropdown dropdown-permissions">
                                <input type="hidden" name="permissions">
                                <i class="dropdown icon"></i>
                                <div class="default text">{{'Wybierz uprawnienie' | translate}}</div>
                                <div class="menu">
                                  <ng-container *ngFor="let permission of permissions">
                                    <div class="item" [attr.data-value]="permission.value">
                                      <i class="key icon"></i>
                                      <span>{{permission.name}}</span>
                                    </div>
                                  </ng-container>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="size-height-12"></div>
                    </div>

                    <div class="ui divider" style="margin: 0; border-width: .2em;"></div>
                  </div>
                </div>
              </cdk-step>

              <!-- ograniczenia konta -->
              <cdk-step>
                <div class="ui width grid">
                  <div class="sixteen wide column">
                    <div class="ui teal basic segment bgc-grey-50" style="margin:0;">
                      <h3 id="step-account" class="ui header">
                        <div class="content">
                          {{'Ograniczenia konta' | translate}}
                          <div class="sub header">{{'Pozostałe ustawienia lub inne ograniczenia konta użytkownika.' | translate}}</div>
                        </div>
                      </h3>

                      <div class="size-height-12"></div>
                    </div>

                    <div class="ui basic segment" style="margin: 0;">
                      <div class="ui column middle aligned grid">
                        <div class="row">
                          <div class="six wide column">
                            <i class="small at icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Zweryfikowany adres e-mail' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="field">
                              <div class="ui toggle checkbox checkbox-account-email-confirmed">
                                <input type="checkbox" name="public">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="six wide column">
                            <i class="small user icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Konto zablokowane' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="field">
                              <div class="ui toggle checkbox checkbox-account-blocked">
                                <input type="checkbox" name="public">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="six wide column">
                            <i class="small user icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Konto aktywne' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="field">
                              <div class="ui toggle checkbox checkbox-account-active">
                                <input type="checkbox" name="public">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="six wide column">
                            <i class="small user clock icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Dostęp czasowy' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="field">
                              <div class="ui toggle checkbox checkbox-account-access">
                                <input type="checkbox" name="public">
                              </div>
                            </div>

                            <div class="fields">
                              <div class="field" style="width: 196px;">
                                <div id="rangestart" class="ui calendar calendar-access-lowerbound" [ngClass]="{'disabled': !accountAccess}">
                                  <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="{{'Dostęp od' | translate}}">
                                  </div>
                                </div>
                              </div>
                              <div class="field" style="width: 196px;">
                                <div id="rangeend" class="ui calendar calendar-access-upperbound" [ngClass]="{'disabled': !accountAccess}">
                                  <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="{{'Dostęp do' | translate}}">
                                  </div>
                                </div>
                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="ui divider" style="margin: 0; border-width: .2em;"></div>
                  </div>
                </div>
              </cdk-step>
            </app-stepper-custom>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template let-error="context">
  <div *ngIf="error" class="ui error message">
    <div class="header">
      {{'Walidacja formularza' | translate}}
    </div>

    <p *ngIf="error.message">{{error.message}}</p>

    <ul *ngIf="error.errors" class="list">
      <ng-template ngFor let-error let-last="last" [ngForOf]="error.errors">
        <li>{{error.message | translate}}</li>
      </ng-template>
    </ul>
  </div>
</ng-template>
