.masthead-loading {
  margin: 0 !important;
  padding: 0 !important;
  height: 0;
}
.masthead-header {
  margin: 0;
  padding: .25em 2.5em 0 5em;
}
.masthead-filter {
  margin: -3.5em 5em 0 5em;
}
.masthead-stats {
  margin: 0 !important;
  background-color: rgba($color: #cccbd5, $alpha: .1);
}
.masthead-users {
  margin: .5em 0 0 0 !important;
  background-color: rgba($color: #cccbd5, $alpha: .1);
}
.masthead-content {
  margin-top: unset !important;
  margin: 0 5em;
}
.ui.statistic>.value {
  text-align: left !important;
  padding-bottom: .3em !important;
}
.ui.header>.image:not(.icon), .ui.header>img {
  min-width: 4em !important;
}

.button-checkbox {
  padding: 2em !important;
  width: 128px;
  height: 104px;
  background-color: rgba(77,182,172,.7) !important;
  &:hover {
    background-color: rgba(77,182,172,1) !important;
  }
  i {
    font-size: 2em;
  }
  i.icon {
    margin: unset !important;
  }
  label {
    color: unset !important;
  }
  label:before {
    top: .5em !important;
    left: unset !important;
    right: .5em !important;

    width: 24px;
    height: 24px;

    border-radius: .5em;
    border-color: rgba(0,105,92,1);
    background-color: rgba(255,255,255,1);
  }
  label:after {
    top: .5em !important;
    left: unset !important;
    right: .5em !important;

    width: 24px;
    height: 24px;
    line-height: 1.65em;

    border-radius: .5em;
    border-color: rgba(0,105,92,1);
    color: rgba(255,255,255,1) !important;
    background-color: rgba(0,105,92,1);
  }
}
