<app-page-login>
  <div content>
    <div class="row">
      <div class="ui basic padded segment" style="padding: 2em 3em;">
        <form class="ui medium form form-login">
          <div class="ui basic">
            <h1 class="ui header">
              <div class="content">
                <span>{{'Witaj w aplikacji' | translate}}</span>
                <div class="sub header">
                  <span class="pad-left-xs">{{'zaloguj się kontem użytkownika' | translate}}</span>
                </div>
              </div>
            </h1>

            <div class="size-height-12"></div>

            <div class="field">
              <label>{{'Nazwa użytkownika' | translate}}</label>
              <div class="ui left icon input">
                <i class="at icon"></i>
                <input name="userName" [(ngModel)]="userName" placeholder="{{'Nazwa użytkownika' | translate}}" type="text">
              </div>
            </div>
            <div class="field">
              <label>{{'Hasło' | translate}}</label>
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input name="password" [(ngModel)]="password" placeholder="{{'Hasło' | translate}}" type="password">
              </div>
            </div>

            <div class="size-height-6"></div>

            <div class="fields">
              <div class="six wide field">
              </div>

              <div class="ten wide field" style="text-align: right;">
                <a [routerLink]="['/account/password/reminder']">
                  <i class="icon lock"></i>
                  {{'Przypomnij hasło' | translate}}
                </a>
              </div>
            </div>

            <div class="size-height-12"></div>

            <button type="submit" class="ui fluid teal button" (click)="loginPasswordFlow()" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
              {{'Zaloguj' | translate}}
            </button>
          </div>

          <div class="size-height-12"></div>

          <div class="ui horizontal divider">LUB</div>

          <h5 class="ui header">
            <div class="content">
              {{'Logowanie przez' | translate}}
              <div class="sub header">{{'portal społecznościowy' | translate}}</div>
            </div>
          </h5>
          <div class="ui basic left aligned" style="padding-top: 0;">
            <ng-template ngFor let-provider let-last="last" [ngForOf]="accountService.loginSocialProviders">
              <button class="ui circular icon button" [ngClass]="provider.class" matTooltip="{{provider.name}}" [matTooltipPosition]="'above'"
                    (click)="loginSocialCode(provider.key)" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
                <i class="icon {{provider.icon}}"></i>
                <!-- <span>{{provider.name}}</span> -->
              </button>
              <span *ngIf="!last" class="size-height-12"></span>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="ui basic tertiary padded segment" style="padding: 2em;">
        <div class="ui left aligned basic vertically fitted segment">
          <span class="ui medium text">
            <span>{{'Nie posiadasz konta w aplikacji?' | translate}} <a [routerLink]="['/register']">{{'Załóż już teraz' | translate}}</a>.</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</app-page-login>
