// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import '~@covalent/core/theming/all-theme';

// (optional) Additional themes
@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($mat-teal, 600);
$accent: mat-palette($mat-teal, 400);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
@include covalent-theme($theme); // $typography is an **optional** argument for the covalent-theme

// (optional) Additional themes
@include covalent-markdown-theme($theme);
@include covalent-highlight-theme();

$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

a {
  color: mat-color($primary);
  &:hover {
    color: mat-color($accent);
  }
}
span.mdi {
  margin-bottom: 4px;
}
.menu-languages {
  position: fixed !important;
  bottom: 12em !important;
  left: 5em !important;
}
.menu-account {
  position: fixed !important;
  bottom: 7em !important;
  left: 5em !important;
}

// Theming for Open Layers
.ol-scale-line {
  left: 2em !important;
  background: #01579B !important;
  opacity: .7 !important;
}

// Theming for Angular Calendar
.cal-month-view .cal-open-day-events {
  color: black !important;
  padding: 10px !important;
  margin-bottom: 1em;
  background-color: #FAFAFA !important;
  box-shadow: none !important;
  border-top: .1em solid #E0E0E0;
  border-bottom: .25em solid #B0BEC5;
  overflow-y: auto;
  max-height: 200px;
}
.cal-month-view .cal-days {
  border-color: transparent !important;
  border: none !important;
}
.cal-month-view .cal-events {
  margin: 0 5px !important;
  line-height: normal !important;
  flex: 0 !important;
  display: block !important;
}
.cal-month-view .cal-cell-top {
  min-height: 48px !important;
}
.cal-month-view .cal-day-badge {
  background-color: rgba(144,164,174,1) !important;
  margin-top: 12px !important;
  margin-left: 8px !important;
}
.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2em !important;
  font-weight: bold !important;
}
.cal-month-view .cal-day-number {
  font-size: 1.2em !important;
}
.cal-month-view .cal-cell-row {
  border-top: 1px solid #e1e1e1 !important;
}
.cal-month-view .cal-day-cell {
  min-height: 72px;
  width: 100px;
}
.cal-month-view .cal-day-cell:not(:last-child) {
  border-right: none !important;
}
.cal-month-view .cal-day-cell.cal-today {
  background-color: rgba(169,196,199,.25) !important;
}
.cal-week-view .cal-time-events .cal-event {
  line-height: 26px !important;
}
.cal-week-view .cal-event {
  color: black !important;
}
.cal-event-actions {
  position: relative;
  top: 4px;
  .material-icons {
    font-size: large !important;
    color: #4d6c8b !important;
  }
}
