div[td-sidenav-content] {
  &.sidenav-menu {
    background-image: linear-gradient(to bottom, #4db6ac, #3ea69b, #2e978b, #1c887b, #00796b);
    overflow: hidden;
  }
  &.sidenav-profile {
    background-color: rgba($color: #cccbd5, $alpha: .1);
    overflow-x: hidden;
  }
  &.sidenav-filters {
    background-color: rgba($color: #cccbd5, $alpha: .1);
    overflow-x: hidden;
  }
}
.layout-dashboard .td-layout-sidenav {
  border-right: none !important;
}
.td-loading {
  min-height: 0 !important;
}
.td-loading-wrapper {
  min-height: 0 !important;
}
