<div class="ui column grid masthead-loading">
  <div class="column" style="padding: 0;">
    <div *tdLoading="'listSyntax'; type:'linear'; mode:'indeterminate'; color:'primary'"></div>
  </div>
</div>

<div class="masthead" cdkScrollable>
  <div #header class="ui two column grid masthead-header">
    <div class="column row">
      <div class="left aligned six wide column">
        <h4 class="ui header">
          <div class="content">
            <span class="mat-title">{{'Zarządzanie' | translate}}</span>
            <span class="pad-left-md pad-right-md tc-blue-grey-200" style="vertical-align: sub; font-size: 2em; font-weight: lighter;">|</span>
            <span class="mat-title tc-blue-grey-600" style="font-weight: bold;">{{'użytkownicy' | translate}}</span>
          </div>
        </h4>
      </div>
      <div class="right aligned ten wide column">
        <div class="row">
          <button class="ui teal button" [routerLink]="['/management/users/form']" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
            <i class="add user icon"></i>
            {{'Nowe konto' | translate}}
          </button>

          <!-- <div class="ui labeled button refresh" (click)="onRefreshData()">
            <div class="ui button">
              <i class="redo icon"></i>
            </div>

            <span class="ui left pointing basic teal label">{{pagingResults.totalRows}}</span>
          </div>
          <div class="ui labeled button filters" style="margin: 0;" (click)="mfilters.showFilter = !mfilters.showFilter">
            <div class="ui button" [ngClass]="{'teal': !mfilters.showFilter}">
              <i class="filter icon"></i>
            </div>

            <span class="ui left pointing basic teal label">{{mlist.countFilter}}</span>
          </div>   -->
        </div>
      </div>
    </div>
  </div>

  <div class="ui column centered grid masthead-stats">
    <div class="column row">
      <div class="left aligned sixteen wide column">
        <div class="ui basic segment">
          <div class="ui centered grid">
            <div class="fourteen wide column">
              <div layout="row" layout-align="start start">
                <div layout="column" layout-align="start start">
                  <h3 class="ui header">
                    <i class="user friends icon tc-teal-400 pad-right-sm" style="font-size: 2.5em;"></i>
                    <div class="content">

                    </div>
                  </h3>
                </div>

                <div layout="row" layout-align="start start" flex>
                  <ng-template ngFor let-stat let-i="index" let-last="last" [ngForOf]="stats">
                    <div class="ui tiny grey statistic" style="margin: 0; padding: 0 3em;">
                      <div class="label tc-grey-400" style="padding-bottom: .2em; text-align: left;">
                        <span style="font-size: 85%;">{{stat.name | translate}}</span>
                      </div>
                      <div class="value">
                        <span style="font-size: 95%;">{{stat.value}}</span>
                        <div style="margin-top: .1em; width: 1em; border-bottom: .2em solid rgba(38,166,154,1);"></div>
                      </div>

                    </div>
                  </ng-template>
                </div>
              </div>

              <div class="size-height-12"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider" style="border-width: .2em; margin: 0;"></div>

  <div #filter class="ui column centered grid masthead-filter">
    <div class="column row" style="padding-bottom: 0;">
      <div class="left aligned sixteen wide column">
        <div class="ui basic segment" style="padding-bottom: 0;">
          <app-table-filters filters-content #mfilters
            [(filters)]="filters"
            [(sorts)]="sorts"
            (acceptFilter)="onAcceptFilter($event)"
            (clearFilter)="onClearFilter($event)"
            (changeSortOrder)="onChangeSortOrder($event)">

            <app-users-filters filters-content [(filters)]="mfilters.filters"></app-users-filters>

            <ng-container buttons-content>
              <button class="ui circular icon button"
                [ngClass]="{'teal active': type === 'list'}"
                (click)="type = 'list'"
                matTooltip="{{'Widok listy' | translate}}">

                <i class="th list icon"></i>
              </button>

              <button class="ui circular icon button"
                [ngClass]="{'teal active': type === 'table'}"
                (click)="type = 'table'"
                matTooltip="{{'Widok tabeli' | translate}}">

                <i class="table icon"></i>
              </button>
            </ng-container>
          </app-table-filters>
        </div>
      </div>
    </div>
  </div>

  <div class="ui column centered grid masthead-content">
    <div class="column row">
      <div class="sixteen wide column">
        <div class="ui basic segment">
          <app-table-list #mlist
            [data]="data"
            [currentItem]="currentItem"
            [quickSearch]="mfilters.quickSearch"
            [visibleQuickSearch]="false"
            [visibleFilter]="true"
            [visibleSort]="false"
            [countFilter]="mfilters.countFilter"
            [countSort]="mfilters.countSort"
            [total]="pagingResults.totalRows"
            [initialPage]="pagingSettings.pageNumber"
            (refreshData)="onRefreshData()"
            (selectedItem)="onSelectedItem($event)"
            (paging)="onPage($event)">

            <div [ngSwitch]="type" list-content>
              <ng-container *ngSwitchCase="'table'">
                <div class="ui basic segment" style="margin: 0; background-color: rgba(178,223,219,.2);">
                  <div class="item" style="padding: .4em 0;">
                    <div class="content">
                      <div class="ui left aligned five column grid">
                        <div class="middle aligned one wide column"></div>
                        <div class="middle aligned five wide column">
                          <span style="font-weight: bold;">{{'Konto' | translate}}</span>
                        </div>
                        <div class="middle aligned four wide column">
                          <span style="font-weight: bold;">{{'Rola' | translate}}</span>
                        </div>
                        <div class="middle aligned two wide column">
                          <span style="font-weight: bold;">{{'Status' | translate}}</span>
                        </div>
                        <div class="right aligned four wide column"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="ui divider" style="margin: 0; border-top: .25em solid rgba(77,182,172,.5);"></div>

                <div class="ui accordion selection list" style="margin: 0;">
                  <ng-template #usersList ngFor let-row let-last="last" [ngForOf]="mlist.data">
                    <div class="item" [class.selected]="mlist.isSelected(row)" (click)="mlist.onSelected(row)" style="padding: 0;">
                      <div class="title">
                        <div class="item" style="margin: 0; padding: 1em;">
                          <div class="content">
                            <div class="ui five column grid">
                              <div class="one wide column">
                                <ngx-avatar name="{{row?.fullName}}" size="48"></ngx-avatar>
                              </div>
                              <div class="middle aligned five wide column">
                                <div class="content">
                                  <div class="ui sub header" style="font-size: 1.1em;">{{row.userName}}</div>
                                  <span class="tc-grey-600">{{row.fullName}}</span>
                                  <div class="size-height-6"></div>
                                  <div class="meta">
                                    <span>{{row.email}}</span>
                                  </div>
                                </div>
                              </div>
                              <div class="middle aligned four wide column">
                                <div class="content">
                                  <div class="ui labels">
                                    <ng-template ngFor let-role let-i="index" let-last="last" [ngForOf]="row.roles">
                                      <div class="ui label">
                                        <span>{{role.name | translate}}</span>
                                      </div>
                                    </ng-template>
                                  </div>
                                </div>
                              </div>
                              <div class="middle aligned two wide column">
                                <div class="content">
                                  <div class="sub header">
                                    <a class="ui green empty circular mini label"></a>
                                    <span style="padding-left: 5px;">{{'online' | translate}}</span>
                                  </div>
                                </div>
                              </div>
                              <div class="right aligned middle aligned four wide column">
                                <div class="content">
                                  <div class="ui tertiary icon large button" [attr.data-tooltip]="'Edytowanie konta' | translate" data-inverted="" [routerLink]="['/management/users/form', row?.id]">
                                    <i class="user edit icon"></i>
                                  </div>
                                  <div class="ui tertiary icon large button" [attr.data-tooltip]="'Napisz wiadomość' | translate" data-inverted="">
                                    <i class="comment dots outline icon"></i>
                                  </div>
                                  <div class="ui tertiary icon large button" [attr.data-tooltip]="'Usuń konto' | translate" data-inverted="">
                                    <i class="trash icon"></i>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="!last" style="padding: .3em 0;"></div>
                  </ng-template>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="'list'">
                <div class="ui grid">
                  <div class="six wide column">

                    <div class="ui accordion selection short list"
                      style="margin: 0; padding: 0 .5em 0 0;">

                      <ng-template #usersList ngFor let-row let-last="last" [ngForOf]="mlist.data">
                        <div class="item" [class.selected]="mlist.isSelected(row)" (click)="mlist.onSelected(row)" style="padding: 0;">
                          <div class="title" style="padding: 0;">
                            <div class="item" style="margin: 0; padding: 1em;">
                              <div class="content">
                                <div class="ui two column grid">
                                  <div class="two wide column">
                                    <ngx-avatar name="{{row?.fullName}}" size="48"></ngx-avatar>
                                  </div>
                                  <div class="middle aligned fourteen wide column">
                                    <div class="content pad-left-md">
                                      <div class="ui sub header" style="font-size: 1.1em;">{{row.fullName}}</div>
                                      <!-- <span class="tc-grey-600">{{row.userName}}</span> -->
                                      <div class="size-height-6"></div>
                                      <div class="meta">
                                        <span>{{row.email}}</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div *ngIf="!last" style="padding: .3em 0;"></div>
                      </ng-template>
                    </div>
                  </div>

                  <div class="ten wide column">
                    <div class="ui grey basic segment bgc-teal-50" layout="row" layout-align="start start"
                      style="padding-bottom: 0; border-top: .5em solid rgba(178,223,219 ,1);">

                      <div layout="column" layout-align="start start" flex>
                        <div class="ui items">
                          <div class="item">
                            <ngx-avatar class="ui image" name="{{currentItem?.fullName ? currentItem?.fullName : currentItem?.userName}}" size="64"></ngx-avatar>
                            <div class="content">
                              <span class="header">{{currentItem?.fullName ? currentItem?.fullName : currentItem?.userName}}</span>
                              <div class="meta">
                                <i class="user icon"></i>
                                <span translate>Konto lokalne</span>
                              </div>
                              <div class="extra">

                              </div>
                              <div class="extra">
                                <div class="ui label"><i class="at icon"></i> {{currentItem?.email}}</div>
                                <div *ngIf="currentItem?.phoneNumber" class="ui label"><i class="phone icon"></i> {{currentItem?.phoneNumber}}</div>
                                <div class="ui label"><i class="circle green icon"></i> {{'online' | translate}}</div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="size-height-12"></div>
                      </div>

                      <div layout="column" layout-align="start end" flex="40">
                        <div layout="row">
                          <button class="ui teal circular button"
                            [routerLink]="['/management/users/form', currentItem?.id]"
                            matTooltip="{{'Edycja konta' | translate}}"
                            style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">

                            <i class="pencil icon"></i>
                            <span translate>Edycja</span>
                          </button>
                          <button class="ui teal icon circular button"
                            [routerLink]="['/management/users', currentItem?.id]"
                            matTooltip="{{'Szczegóły konta' | translate}}"
                            style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">

                            <i class="list alternate outline icon"></i>
                          </button>
                          <button class="ui icon circular button"
                            matTooltip="{{'Napisz wiadomość' | translate}}">


                            <i class="comment dots outline icon"></i>
                          </button>
                          <!-- <button class="ui icon circular button">
                            <i class="trash icon"></i>
                          </button> -->
                        </div>
                      </div>
                    </div>

                    <!-- <div class="ui basic segment" layout="row" layout-align="start start" style="padding-bottom: 0;">
                      <form class="ui form">
                        <div class="ui column middle aligned grid">
                          <div class="row">
                            <div class="six wide column">
                              <i class="small at icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                              <span class="pad-xs"></span>
                              <span class="tc-grey-600">{{'Adres e-mail' | translate}}</span>
                            </div>
                            <div class="ten wide column">
                              <div class="ui transparent input">
                                <input [(ngModel)]="currentItem.email"
                                    type="text" name="email" placeholder="{{'Wprowadź' | translate}}">
                              </div>
                            </div>
                          </div>
                          <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                          <div class="row">
                            <div class="six wide column">
                              <i class="small font icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                              <span class="pad-xs"></span>
                              <span class="tc-grey-600">{{'Imię (imiona)' | translate}}</span>
                            </div>
                            <div class="ten wide column">
                              <div class="ui transparent input">
                                <input [(ngModel)]="currentItem.firstName"
                                    type="text" name="firstName" placeholder="{{'Wprowadź' | translate}}">
                              </div>
                            </div>
                          </div>
                          <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                          <div class="row">
                            <div class="six wide column">
                              <i class="small font icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                              <span class="pad-xs"></span>
                              <span class="tc-grey-600">{{'Nazwisko' | translate}}</span>
                            </div>
                            <div class="ten wide column">
                              <div class="ui transparent input">
                                <input [(ngModel)]="currentItem.lastName"
                                    type="text" name="lastName" placeholder="{{'Wprowadź' | translate}}">
                              </div>
                            </div>
                          </div>
                          <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                          <div class="row">
                            <div class="six wide column">
                              <i class="small phone icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                              <span class="pad-xs"></span>
                              <span class="tc-grey-600">{{'Numer kontaktowy' | translate}}</span>
                            </div>
                            <div class="ten wide column">
                              <div class="ui transparent input">
                                <input [(ngModel)]="currentItem.phoneNumber"
                                    type="text" name="phoneNumber" placeholder="{{'Wprowadź' | translate}}">
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>

                      <div class="size-height-12"></div>
                    </div> -->

                    <div class="ui teal basic segment bgc-grey-50"style="margin: 0;">
                      <h3 id="step-account" class="ui header">
                        <div class="content">
                          {{'Role i uprawnienia' | translate}}
                          <div class="sub header">{{'Przypisane roli i opcjonalne uprawnienia do konta.' | translate}}</div>
                        </div>
                      </h3>
                    </div>

                    <div class="ui basic segment" style="margin: 0;">

                      <div class="size-height-24"></div>
                    </div>

                    <div class="ui teal basic segment bgc-grey-50"style="margin: 0;">
                      <h3 id="step-account" class="ui header">
                        <div class="content">
                          {{'Rejestr zdarzeń' | translate}}
                          <div class="sub header">{{'Podgląd historii operacji wykonywanych przez użytkownika.' | translate}}</div>
                        </div>
                      </h3>
                    </div>

                    <div class="ui basic segment" style="margin: 0;">

                      <div class="size-height-24"></div>
                    </div>

                    <div class="ui divider" style="margin: 0; border-width: .2em;"></div>

                  </div>
                </div>
              </ng-container>
            </div>

          </app-table-list>
        </div>
      </div>
    </div>
  </div>
</div>
