.masthead-loading {
  margin: 0 !important;
  padding: 0 !important;
  height: 0;
}
.masthead-header {
  margin: 0;
  padding: .25em 2.5em 0 5em;
}
.masthead-header-fixed {
  position: sticky;
  top: 0;
  z-index: 9;
  background: white;
  box-shadow: 0 0px 10px 5px rgba(34,36,38,.1);
}
.masthead-filter {
  margin: -5em 5em 0 5em;
}
.masthead-filter-fixed {
  position: sticky;
  top: 2.5em;
  z-index: 9;
}
.masthead-stats {
  margin: 0 !important;
  background-color: rgba($color: #cccbd5, $alpha: .1);
}
.masthead-stats-fixed {
  position: sticky;
  top: 2em;
  z-index: 9;
}
.masthead-content {
  margin: 0 5em;
  overflow-x: hidden;
  overflow-y: auto;

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(224,242,241,1);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(77,182,172,1);
  }
}
.ui.statistic>.value {
  text-align: left !important;
  padding-bottom: .3em !important;
}
.ui.header>.image:not(.icon), .ui.header>img {
  min-width: 4em !important;
}

.label {
  min-width: 25%;
  color: #757575 !important;
}
