.masthead {
  background-image: linear-gradient(to left top, #4db6ac, #3ea69b, #2e978b, #1c887b, #00796b);
  display: grid;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100vh;
  overflow: unset;
  overflow-x: hidden;
}
.masthead-footer {
  margin: 0;
  padding: 0;
}
.header {
  margin-left: auto;
  margin-right: auto;
}
.login {
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  border-top: .5em solid rgba(38,166,154 ,1) !important;
  border-radius: unset;
  border: unset;
}
.logo {
  background: url('../../../../assets/images/dania-europa-fiat-finlandia-21014.jpg') no-repeat bottom center;
  background-size: cover;
  height: 100%;
}
.tertiary.button {
  margin-left: 1em !important;
  margin-right: 1em !important;
  color: rgba(255,255,255,.7) !important;
}
.tertiary.button:hover {
  box-shadow: inset 0 -0.2em 0 rgba(0,0,0,.2) !important;
}
