<app-page-login>
  <div content>
    <div class="row">
      <div class="ui basic padded segment" style="padding: 2em 3em;">
        <form class="ui medium form form-login">
          <div class="ui basic">
            <h1 class="ui header">
              <div class="content">
                <span>{{'Przypomnij hasło' | translate}}</span>
                <div class="sub header">
                  <span class="pad-left-xs">{{'wyślij nowe hasło do konta' | translate}}</span>
                </div>
              </div>
            </h1>

            <div class="size-height-12"></div>

            <p class="ui text">{{'Na wskazany adres e-mail zostanie wysłana wiadomość z linkiem umożliwiającym zmianę hasła dostępu do konta użytkownika.' | translate}}</p>

            <div class="size-height-12"></div>

            <div class="field">
              <label>{{'Adres e-mail' | translate}}</label>
              <div class="ui left icon input">
                <i class="at icon"></i>
                <input name="email" [(ngModel)]="email" placeholder="{{'Adres e-mail' | translate}}" type="text">
              </div>
            </div>

            <div class="size-height-12"></div>

            <button type="submit" class="ui fluid teal button" (click)="reminder()" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
              {{'Wyślij' | translate}}
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="ui basic tertiary padded segment" style="padding: 2em;">
        <div class="ui left aligned basic vertically fitted segment">
          <span class="ui medium text">
            <span>{{'Posiadasz konto w aplikacji?' | translate}} <a [routerLink]="['/login']">{{'Zaloguj się' | translate}}</a>.</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</app-page-login>
