<div class="ui column grid masthead-loading">
	<div class="column" style="padding: 0;">
		<div *tdLoading="'listSyntax'; type:'linear'; mode:'indeterminate'; color:'primary'"></div>
	</div>
</div>

<div class="masthead">
  <div class="ui two column grid masthead-header">
    <div class="column row">
      <div class="left aligned six wide column">
        <h4 class="ui header">
          <div class="content">
            <span class="mat-title">{{configHeader.header | translate}}</span>
            <span class="pad-left-md pad-right-md tc-blue-grey-200" style="vertical-align: sub; font-size: 2em; font-weight: lighter;">|</span>
            <span class="mat-title tc-blue-grey-600" style="font-weight: bold;">{{configHeader.title | translate}}</span>
          </div>
        </h4>
      </div>
      <div class="right aligned ten wide column">
        <div class="row">
          <button class="ui teal button" (click)="saveUser()" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
            <i class="check icon"></i>
            <span>{{'Zatwierdź' | translate}}</span>
          </button>

        </div>
      </div>
    </div>
  </div>

  <div class="ui column centered grid masthead-profile">
    <div class="column row">
      <div class="left aligned sixteen wide column">
        <div class="ui basic segment">
          <div class="ui centered grid">
            <div class="fourteen wide column">
              <div layout="row" layout-align="start start">
                <h3 class="ui header">
                  <!-- <i class="lightbulb outline icon tc-teal-400 pad-right-sm" style="font-size: 2.5em;"></i> -->
                  <ngx-avatar class="ui image" name="{{user?.fullName}}" size="64"></ngx-avatar>
                  <div class="content">
                    <div layout="row" layout-align="start center" flex>
                      <span class="ui large text">{{user?.fullName}}</span>
                    </div>

                    <div class="size-height-12"></div>

                    <div class="sub header">
                      <div class="ui label"><i class="at icon"></i> {{user?.email}}</div>
                      <div *ngIf="user?.phoneNumber" class="ui label"><i class="phone icon"></i> {{user?.phoneNumber}}</div>
                      <div class="ui label"><i class="circle green icon"></i> {{'online' | translate}}</div>
                    </div>
                  </div>
								</h3>

								<div class="size-width-50"></div>

								<div layout="row" layout-align="end end" style="margin-top: 2em;" flex>
									<ng-template ngFor let-stat let-i="index" let-last="last" [ngForOf]="stats">
										<div class="ui tiny grey statistic" style="margin: 0; padding: 0 2em;">
											<div class="label tc-grey-400" style="padding-bottom: .1em; text-align: left;">
												<span style="font-size: 75%;">{{stat.name | translate}}</span>
											</div>
											<div class="value">
												<!-- <i class="{{stat.icon}} icon"></i> -->
												<span style="font-size: 50%;">{{stat.value}}</span>
												<div style="margin-top: 0; width: 1em; border-bottom: .2em solid rgba(38,166,154,1);"></div>
											</div>

										</div>
									</ng-template>
								</div>
              </div>

							<!-- <nav mat-tab-nav-bar style="top: 30px; border-color: transparent;">
								<a mat-tab-link
									 *ngFor="let menu of menus"
									 [routerLink]="menu.routerLink"
									 (click)="activeMenu = menu"
									 [active]="activeMenu == menu">
									<span>{{menu.label}}</span>
								</a>
							</nav> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
	<div class="ui divider" style="border-width: .2em; margin: 0;"></div>

  <div class="ui column centered grid masthead-filter">
    <div class="column row" style="padding-bottom: 0;">
      <div class="left aligned sixteen wide column">
        <div class="ui basic segment" style="padding-bottom: 0;">
          <div class="ui column grid">
            <div class="right aligned column">
              <button class="ui circular button account-comment"
                matTooltip="{{'Napisz wiadomość' | translate}}"
                style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
                <i class="icon comment outline"></i>
                <span>Napisz</span>
              </button>

              <span class="pad-xs"></span>

              <div class="ui icon top left pointing dropdown circular teal button account-settings" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
                <i class="user cog icon"></i>
                <span class="text pad-left-sm pad-right-sm">Więcej opcji</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item">
                    <i class="comment outline icon"></i>
                    <span>{{'Napisz wiadomość' | translate}}</span>
                  </div>
                  <div class="divider"></div>
                  <div class="item">
                    <i class="lock icon"></i>
                    <span>{{'Ustaw hasło' | translate}}</span>
                  </div>
                  <div class="item">
                    <i class="user icon"></i>
                    <span>{{'Aktywuj konto' | translate}}</span>
                  </div>
                  <div class="divider"></div>
                  <div class="item">
                    <i class="user lock icon"></i>
                    <span>{{'Zablokuj' | translate}}</span>
                  </div>
                  <div class="item">
                    <i class="trash red icon"></i>
                    <span>{{'Usuń konto' | translate}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

	<div class="ui column centered grid masthead-content">
    <div class="column row">
      <div class="sixteen wide column">
        <div class="ui basic segment">
          <form class="ui form">
            <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="changeTab($event)">
              <mat-tab label="{{'Szczegóły konta' | translate}}">
                <div class="ui basic segment bgc-grey-50">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Szczegóły konta' | translate}}</span>
                      <div class="sub header">{{'Podstawowe informacje o tworzonym koncie lub dane pobrane z usługi Active Directory.' | translate}}</div>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment" style="margin: 0;">
                  <div class="ui grid">
                    <div class="ten wide column">
                      <div class="ui column middle aligned grid">
                        <div class="row">
                          <div class="six wide column">
                            <i class="small hashtag icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Nazwa konta' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="user.userName"
                                  type="text" name="userName" placeholder="{{'Wprowadź' | translate}}">
                            </div>

                            <div class="ui message">
                              <ul class="list mat-small">
                                <li>{{'Nazwa wymaga wprowadzenia znaków specjalnych' | translate}}</li>
                                <li>{{'Nazwa wymaga minimum 8 znaków' | translate}}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="six wide column">
                            <i class="small at icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Adres e-mail' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="user.email"
                                  type="text" name="email" placeholder="{{'Wprowadź' | translate}}">
                            </div>

                            <div class="ui message">
                              <ul class="list mat-small">
                                <li>{{'Adres powinien zawierać odpowiednie znaki' | translate}}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="six wide column">
                            <i class="small font icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Imię (imiona)' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="user.firstName"
                                  type="text" name="firstName" placeholder="{{'Wprowadź' | translate}}">
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="six wide column">
                            <i class="small font icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Nazwisko' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="user.lastName"
                                  type="text" name="lastName" placeholder="{{'Wprowadź' | translate}}">
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="six wide column">
                            <i class="small phone icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Numer kontaktowy' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="user.phoneNumber"
                                  type="text" name="phoneNumber" placeholder="{{'Wprowadź' | translate}}">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="size-height-12"></div>
                  </div>
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>
              <mat-tab label="{{'Bezpieczeństwo' | translate}}">
                <div class="ui basic segment bgc-grey-50">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Hasło użytkownika' | translate}}</span>
                      <div class="sub header">{{'Zmiana hasła użytkownika dostępu do konta w systemie lub informacje pobrane z usługi Active Directory.' | translate}}</div>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment" style="margin: 0;">
                  <div class="ui grid">
                    <div class="ten wide column">
                      <div class="ui column middle aligned grid">
                        <div class="row">
                          <div class="six wide column">
                            <i class="small hashtag icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Stare hasło' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="user.password"
                                  type="password" name="password" placeholder="{{'Wprowadź' | translate}}">
                            </div>

                            <div class="ui message">
                              <ul class="list mat-small">
                                <li>{{'Hasło wymaga wprowadzenia znaków specjalnych' | translate}}</li>
                                <li>{{'Hasło wymaga minimum 10 znaków' | translate}}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="six wide column">
                            <i class="small hashtag icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Nowe hasło' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="user.passwordNew"
                                  type="password" name="passwordNew" placeholder="{{'Wprowadź' | translate}}">
                            </div>

                            <div class="ui message">
                              <ul class="list mat-small">
                                <li>{{'Hasło wymaga wprowadzenia znaków specjalnych' | translate}}</li>
                                <li>{{'Hasło wymaga minimum 10 znaków' | translate}}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="six wide column">
                            <i class="small hashtag icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Powtórz hasło' | translate}}</span>
                          </div>
                          <div class="ten wide column">
                            <div class="required field">
                              <input [(ngModel)]="user.passwordConfirm"
                                  type="password" name="passwordConfirm" placeholder="{{'Wprowadź' | translate}}">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="size-height-12"></div>
                  </div>
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>
              <mat-tab label="{{'Role i uprawnienia' | translate}}">
                <div class="ui basic segment bgc-grey-50">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      {{'Role i uprawnienia' | translate}}
                      <div class="sub header">{{'Przeglądanie przydzielonych ról oraz uprawnień opcjonalnych do konta użytkownika w aplikacji.' | translate}}</div>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment">
                  <div class="ui centered grid">
                    <div class="sixteen wide column">
                      <div class="ui basic segment">

                      </div>
                    </div>
                  </div>
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>
              <mat-tab label="{{'Rejestr operacji' | translate}}">
                <div class="ui basic segment bgc-grey-50" style="margin: 0;">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      {{'Rejestr operacji' | translate}}
                      <div class="sub header">{{'Przeglądanie historii wykonywanych operacji przez użytkownika na koncie.' | translate}}</div>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment">
                  <div class="ui threaded comments">
                    <div class="comment">
                      <a class="avatar">
                        <i class="lock large icon"></i>
                      </a>
                      <div class="content">
                        <a class="author">Marcin Murawski</a>
                        <div class="metadata">
                          <span class="date">Today at 5:42PM</span>
                        </div>
                        <div class="text">
                          Zmieniono hasło do konta użytkownika.
                        </div>
                        <div class="actions">
                          <a class="reply">Szczegóły</a>
                        </div>
                      </div>
                    </div>
                    <div class="comment">
                      <a class="avatar">
                        <i class="at large icon"></i>
                      </a>
                      <div class="content">
                        <a class="author">System</a>
                        <div class="metadata">
                          <span class="date">Yesterday at 12:30AM</span>
                        </div>
                        <div class="text">
                          Wysłano wiadomość email do użytkownika.
                        </div>
                        <div class="actions">
                          <a class="reply">Szczegóły</a>
                        </div>
                      </div>
                    </div>
                    <div class="comment">
                      <a class="avatar">
                        <i class="user plus large icon"></i>
                      </a>
                      <div class="content">
                        <a class="author">System</a>
                        <div class="metadata">
                          <span class="date">5 days ago</span>
                        </div>
                        <div class="text">
                          Utworzono konto użytkownika.
                        </div>
                        <div class="actions">
                          <a class="reply">Szczegóły</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>

              <mat-tab label="{{'Zgody i oświadczenia' | translate}}">
                <div class="ui basic segment bgc-grey-50" style="margin: 0;">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Zgody i oświadczenia' | translate}}</span>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment">
                  <div class="ui grid">
                    <div class="ten wide column">
                      <div class="ui column middle aligned grid">
                        <div class="row">
                          <div class="twelve wide column">
                            <i class="small handshake outline icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Zgoda na marketing drogą elektroniczną (w tym: powiadomienia z aplikacji mobilnej).' | translate}}</span>
                          </div>
                          <div class="four wide column">
                            <div class="field">
                              <div class="ui toggle checkbox checkbox-account-1">
                                <input type="checkbox" name="public">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="twelve wide column">
                            <i class="small handshake outline icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Zgoda na marketing drogą telefoniczną.' | translate}}</span>
                          </div>
                          <div class="four wide column">
                            <div class="field">
                              <div class="ui toggle checkbox checkbox-account-2">
                                <input type="checkbox" name="public">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                        <div class="row">
                          <div class="twelve wide column">
                            <i class="small handshake outline icon tc-teal-100" style="line-height: .9; font-size: 1em;"></i>
                            <span class="pad-xs"></span>
                            <span class="tc-grey-600">{{'Otrzymywanie profilowanych informacji marketingowych.' | translate}}</span>
                          </div>
                          <div class="four wide column">
                            <div class="field">
                              <div class="ui toggle checkbox checkbox-account-3">
                                <input type="checkbox" name="public">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="size-height-12"></div>
                  </div>
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>
            </mat-tab-group>
          </form>
				</div>
			</div>
		</div>
	</div>
</div>
