<div class="ui width grid">
  <div class="six wide column" style="padding-right: 4em;">

    <div class="ui basic segment">
      <ng-content select="[steps-content]"></ng-content>

      <div class="ui fluid vertical steps">
        <ng-template ngFor let-step let-last="last" let-i="index" [ngForOf]="stepsList">
          <a class="step" [ngClass]="{'active': selectedIndex === i}" (click)="onClick(i)">
            <div class="content">
              <div class="title tc-teal-800">{{step.label | translate}}</div>
              <div class="description">{{step.description | translate}}</div>
            </div>
          </a>
        </ng-template>
      </div>
      <div class="ui divider" style="margin: 0; border-top: .25em solid rgba(77,182,172,.5);"></div>
    </div>
  </div>

  <div class="ten wide column">

    <div *ngIf="error" class="ui icon message">
      <i class="exclamation circle icon"></i>
      <div class="content">
        <div class="header">
          <span translate>Walidacja formularza</span>
        </div>

        <p *ngIf="error.message">{{error.message}}</p>

        <ul *ngIf="error.errors" class="list">
          <ng-template ngFor let-error let-last="last" [ngForOf]="error.errors">
            <li>{{error.message | translate}}</li>
          </ng-template>
        </ul>
      </div>
    </div>

    <div class="size-height-12"></div>

    <div [style.display]="selected ? 'block' : 'none'">
      <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>
    <!-- <ng-template ngFor let-step let-last="last" let-i="index" [ngForOf]="stepsList">
      <div [style.display]="selectedIndex === i ? 'block' : 'none'">
        <ng-container [ngTemplateOutlet]="step.content"></ng-container>
      </div>
    </ng-template> -->
  </div>
</div>
