<td-layout class="layout-app" [mode]="'side'" [opened]="accountService.getLoggedIn()" [sidenavWidth]="'75px'">
  <div flex td-sidenav-content class="sidenav-menu mat-elevation-z6">
      <app-sidenav></app-sidenav>
  </div>

  <router-outlet></router-outlet>
</td-layout>
