<div class="masthead">

  <div class="ui aligned grid">
    <div class="two wide column"></div>
    <div class="six wide column">

    </div>
    <div class="right aligned six wide column" style="margin-top: 5em;">
      <div class="ui floating dropdown labeled search icon button languages">
        <input type="hidden" name="languages">
        <i class="world icon"></i>
        <span class="text">{{'Domyślny' | translate}}</span>
        <div class="menu">
          <div class="header">{{'Wyszukaj' | translate}}</div>
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input type="text" placeholder="{{'Wyszukaj' | translate}}">
          </div>

          <ng-template ngFor let-language let-last="last" [ngForOf]="languages">
            <div class="item" [attr.data-value]="language.code">
              <i class="{{language.flag}} flag"></i>
              <span class="description">{{language.desc}}</span> {{language.name}}
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="two wide column"></div>
  </div>

  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <div class="ui container">
        <div class="ui raised segment login">
          <div class="ui two column stackable left aligned grid">
            <div class="column" style="padding: unset;">
              <ng-content select="[content]"></ng-content>
            </div>
            <div class="column" style="padding: unset;">
              <div class="logo"></div>

              <!-- <div class="ui basic segment" style="position: absolute; top: 0;">
                <div class="ui threaded comments">
                  <div class="comment">
                    <a class="avatar">
                    </a>
                    <div class="content">
                      <a class="author">Elliot Fu</a>
                      <div class="metadata">
                        <span class="date">Yesterday at 12:30AM</span>
                      </div>
                      <div class="text">
                        <p>This has been very useful for my research. Thanks as well!</p>
                      </div>
                    </div>
                    <div class="comments">

                    </div>
                  </div>
                  <div class="comment">
                    <a class="avatar">
                    </a>
                    <div class="content">
                      <a class="author">Joe Henderson</a>
                      <div class="metadata">
                        <span class="date">5 days ago</span>
                      </div>
                      <div class="text">
                        Dude, this is awesome. Thanks so much
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

              <div class="ui basic inverted padded segment" style="position: absolute; bottom: 0; padding: 1.55em 2em; opacity: .6;">
                <h4 class="ui header pad-left-sm">
                  <i class="hashtag tc-teal-200 icon"></i>
                  <div class="content">
                    <span class="ui text">{{system.version}}</span>
                    <div class="sub header">
                      <span class="ui text">{{system.date}}</span>
                    </div>
                  </div>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui middle aligned center aligned grid masthead-footer">
    <div class="column row">
      <div class="ui basic">
        <div class="ui secondary tertiary button" (click)="regulations()">Regulamin</div>
        <div class="ui secondary tertiary button" (click)="privacy()">Polityka prywatności</div>
        <div class="ui secondary tertiary button" (click)="cookie()">Cookie</div>
      </div>
  </div>
</div>

<div class="ui basic modal modal-regulations">
  <i class="close icon"></i>
  <div class="header">
    <span translate>Regulamin</span>
  </div>
  <div class="scrolling content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius nec felis at fringilla. Curabitur varius, dui nec vulputate tincidunt, ligula tortor laoreet dui, quis vehicula urna diam ac elit. Curabitur fermentum feugiat mi, porta cursus turpis mollis ut. Morbi sit amet finibus mi. Proin eu arcu ligula. Phasellus a nunc lobortis ipsum lobortis iaculis sit amet eget sapien. Praesent laoreet orci ut hendrerit iaculis. Fusce ultricies cursus velit sed posuere. Nulla in leo non nibh maximus rhoncus in malesuada mauris. Suspendisse et commodo sem. Aliquam facilisis rhoncus purus vitae placerat. Etiam vehicula purus leo, ac tristique mauris elementum sed. Vestibulum lobortis blandit volutpat. Donec viverra aliquet placerat.

    Cras faucibus ipsum vel ultrices laoreet. Cras sed nisi nec magna posuere rutrum eu in justo. Integer euismod ante nec turpis rhoncus luctus. Duis tristique sed justo quis congue. Morbi condimentum tellus ante, convallis efficitur tellus porta sit amet. Etiam neque libero, molestie at est id, posuere venenatis ligula. In hac habitasse platea dictumst. Nunc scelerisque ipsum massa, et ornare lacus egestas in. Pellentesque at tortor ut risus facilisis porta quis quis dui. Morbi fermentum convallis dignissim. Vivamus vel elementum lectus. Mauris hendrerit ut libero bibendum hendrerit.

    Cras mollis neque orci, volutpat aliquet mi pretium eget. Duis ut tempus risus. Praesent tempus et lorem non laoreet. Vivamus consectetur metus sed dapibus tristique. Integer in commodo nisl, a faucibus eros. Pellentesque egestas finibus quam in ultricies. Ut nisi mi, sagittis eget ornare non, hendrerit vitae nisl. Etiam pellentesque massa vel est ultrices pellentesque. Mauris fringilla orci a enim egestas euismod. Aliquam euismod lorem id augue commodo tincidunt.

    Praesent dictum tempus mauris, at molestie odio vulputate iaculis. Etiam sodales neque in venenatis lobortis. Nullam aliquet quam in dui pharetra, id molestie metus facilisis. Aenean eget leo iaculis, venenatis justo et, blandit neque. Maecenas volutpat scelerisque metus, ut accumsan nunc interdum sed. Donec pulvinar imperdiet lectus, et elementum erat pretium eget. Praesent blandit ante ipsum. In eget dui a sapien convallis suscipit et sit amet lorem. Nunc ultrices consequat nisi in lacinia.

    Nulla id iaculis dolor, vel porttitor purus. In eros enim, ornare sed vulputate nec, aliquam id elit. Donec quis urna ante. Nam eget erat a purus ultrices placerat. Phasellus porttitor aliquam mi, ac pulvinar purus porttitor ut. Etiam pellentesque egestas dolor, id cursus erat interdum eget. Praesent neque nibh, ultrices sit amet justo non, tristique feugiat diam. Mauris tristique lobortis nibh ac feugiat. Nullam in mauris quis urna rutrum malesuada eget vitae arcu. Praesent blandit, enim at pulvinar pellentesque, mi ligula maximus mi, quis lobortis tellus nisl in tortor. Sed nisl metus, placerat accumsan consectetur at, suscipit sed nisl. Quisque sit amet ligula mattis, facilisis ex ut, ornare turpis. Etiam maximus sagittis lacinia.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius nec felis at fringilla. Curabitur varius, dui nec vulputate tincidunt, ligula tortor laoreet dui, quis vehicula urna diam ac elit. Curabitur fermentum feugiat mi, porta cursus turpis mollis ut. Morbi sit amet finibus mi. Proin eu arcu ligula. Phasellus a nunc lobortis ipsum lobortis iaculis sit amet eget sapien. Praesent laoreet orci ut hendrerit iaculis. Fusce ultricies cursus velit sed posuere. Nulla in leo non nibh maximus rhoncus in malesuada mauris. Suspendisse et commodo sem. Aliquam facilisis rhoncus purus vitae placerat. Etiam vehicula purus leo, ac tristique mauris elementum sed. Vestibulum lobortis blandit volutpat. Donec viverra aliquet placerat.

    Cras faucibus ipsum vel ultrices laoreet. Cras sed nisi nec magna posuere rutrum eu in justo. Integer euismod ante nec turpis rhoncus luctus. Duis tristique sed justo quis congue. Morbi condimentum tellus ante, convallis efficitur tellus porta sit amet. Etiam neque libero, molestie at est id, posuere venenatis ligula. In hac habitasse platea dictumst. Nunc scelerisque ipsum massa, et ornare lacus egestas in. Pellentesque at tortor ut risus facilisis porta quis quis dui. Morbi fermentum convallis dignissim. Vivamus vel elementum lectus. Mauris hendrerit ut libero bibendum hendrerit.

    Cras mollis neque orci, volutpat aliquet mi pretium eget. Duis ut tempus risus. Praesent tempus et lorem non laoreet. Vivamus consectetur metus sed dapibus tristique. Integer in commodo nisl, a faucibus eros. Pellentesque egestas finibus quam in ultricies. Ut nisi mi, sagittis eget ornare non, hendrerit vitae nisl. Etiam pellentesque massa vel est ultrices pellentesque. Mauris fringilla orci a enim egestas euismod. Aliquam euismod lorem id augue commodo tincidunt.

    Praesent dictum tempus mauris, at molestie odio vulputate iaculis. Etiam sodales neque in venenatis lobortis. Nullam aliquet quam in dui pharetra, id molestie metus facilisis. Aenean eget leo iaculis, venenatis justo et, blandit neque. Maecenas volutpat scelerisque metus, ut accumsan nunc interdum sed. Donec pulvinar imperdiet lectus, et elementum erat pretium eget. Praesent blandit ante ipsum. In eget dui a sapien convallis suscipit et sit amet lorem. Nunc ultrices consequat nisi in lacinia.

    Nulla id iaculis dolor, vel porttitor purus. In eros enim, ornare sed vulputate nec, aliquam id elit. Donec quis urna ante. Nam eget erat a purus ultrices placerat. Phasellus porttitor aliquam mi, ac pulvinar purus porttitor ut. Etiam pellentesque egestas dolor, id cursus erat interdum eget. Praesent neque nibh, ultrices sit amet justo non, tristique feugiat diam. Mauris tristique lobortis nibh ac feugiat. Nullam in mauris quis urna rutrum malesuada eget vitae arcu. Praesent blandit, enim at pulvinar pellentesque, mi ligula maximus mi, quis lobortis tellus nisl in tortor. Sed nisl metus, placerat accumsan consectetur at, suscipit sed nisl. Quisque sit amet ligula mattis, facilisis ex ut, ornare turpis. Etiam maximus sagittis lacinia.</p>
  </div>
</div>

<div class="ui basic modal modal-privacy">
  <i class="close icon"></i>
  <div class="header">
    <span translate>Polityka prywatności</span>
  </div>
  <div class="scrolling content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius nec felis at fringilla. Curabitur varius, dui nec vulputate tincidunt, ligula tortor laoreet dui, quis vehicula urna diam ac elit. Curabitur fermentum feugiat mi, porta cursus turpis mollis ut. Morbi sit amet finibus mi. Proin eu arcu ligula. Phasellus a nunc lobortis ipsum lobortis iaculis sit amet eget sapien. Praesent laoreet orci ut hendrerit iaculis. Fusce ultricies cursus velit sed posuere. Nulla in leo non nibh maximus rhoncus in malesuada mauris. Suspendisse et commodo sem. Aliquam facilisis rhoncus purus vitae placerat. Etiam vehicula purus leo, ac tristique mauris elementum sed. Vestibulum lobortis blandit volutpat. Donec viverra aliquet placerat.

    Cras faucibus ipsum vel ultrices laoreet. Cras sed nisi nec magna posuere rutrum eu in justo. Integer euismod ante nec turpis rhoncus luctus. Duis tristique sed justo quis congue. Morbi condimentum tellus ante, convallis efficitur tellus porta sit amet. Etiam neque libero, molestie at est id, posuere venenatis ligula. In hac habitasse platea dictumst. Nunc scelerisque ipsum massa, et ornare lacus egestas in. Pellentesque at tortor ut risus facilisis porta quis quis dui. Morbi fermentum convallis dignissim. Vivamus vel elementum lectus. Mauris hendrerit ut libero bibendum hendrerit.

    Cras mollis neque orci, volutpat aliquet mi pretium eget. Duis ut tempus risus. Praesent tempus et lorem non laoreet. Vivamus consectetur metus sed dapibus tristique. Integer in commodo nisl, a faucibus eros. Pellentesque egestas finibus quam in ultricies. Ut nisi mi, sagittis eget ornare non, hendrerit vitae nisl. Etiam pellentesque massa vel est ultrices pellentesque. Mauris fringilla orci a enim egestas euismod. Aliquam euismod lorem id augue commodo tincidunt.

    Praesent dictum tempus mauris, at molestie odio vulputate iaculis. Etiam sodales neque in venenatis lobortis. Nullam aliquet quam in dui pharetra, id molestie metus facilisis. Aenean eget leo iaculis, venenatis justo et, blandit neque. Maecenas volutpat scelerisque metus, ut accumsan nunc interdum sed. Donec pulvinar imperdiet lectus, et elementum erat pretium eget. Praesent blandit ante ipsum. In eget dui a sapien convallis suscipit et sit amet lorem. Nunc ultrices consequat nisi in lacinia.

    Nulla id iaculis dolor, vel porttitor purus. In eros enim, ornare sed vulputate nec, aliquam id elit. Donec quis urna ante. Nam eget erat a purus ultrices placerat. Phasellus porttitor aliquam mi, ac pulvinar purus porttitor ut. Etiam pellentesque egestas dolor, id cursus erat interdum eget. Praesent neque nibh, ultrices sit amet justo non, tristique feugiat diam. Mauris tristique lobortis nibh ac feugiat. Nullam in mauris quis urna rutrum malesuada eget vitae arcu. Praesent blandit, enim at pulvinar pellentesque, mi ligula maximus mi, quis lobortis tellus nisl in tortor. Sed nisl metus, placerat accumsan consectetur at, suscipit sed nisl. Quisque sit amet ligula mattis, facilisis ex ut, ornare turpis. Etiam maximus sagittis lacinia.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius nec felis at fringilla. Curabitur varius, dui nec vulputate tincidunt, ligula tortor laoreet dui, quis vehicula urna diam ac elit. Curabitur fermentum feugiat mi, porta cursus turpis mollis ut. Morbi sit amet finibus mi. Proin eu arcu ligula. Phasellus a nunc lobortis ipsum lobortis iaculis sit amet eget sapien. Praesent laoreet orci ut hendrerit iaculis. Fusce ultricies cursus velit sed posuere. Nulla in leo non nibh maximus rhoncus in malesuada mauris. Suspendisse et commodo sem. Aliquam facilisis rhoncus purus vitae placerat. Etiam vehicula purus leo, ac tristique mauris elementum sed. Vestibulum lobortis blandit volutpat. Donec viverra aliquet placerat.

    Cras faucibus ipsum vel ultrices laoreet. Cras sed nisi nec magna posuere rutrum eu in justo. Integer euismod ante nec turpis rhoncus luctus. Duis tristique sed justo quis congue. Morbi condimentum tellus ante, convallis efficitur tellus porta sit amet. Etiam neque libero, molestie at est id, posuere venenatis ligula. In hac habitasse platea dictumst. Nunc scelerisque ipsum massa, et ornare lacus egestas in. Pellentesque at tortor ut risus facilisis porta quis quis dui. Morbi fermentum convallis dignissim. Vivamus vel elementum lectus. Mauris hendrerit ut libero bibendum hendrerit.

    Cras mollis neque orci, volutpat aliquet mi pretium eget. Duis ut tempus risus. Praesent tempus et lorem non laoreet. Vivamus consectetur metus sed dapibus tristique. Integer in commodo nisl, a faucibus eros. Pellentesque egestas finibus quam in ultricies. Ut nisi mi, sagittis eget ornare non, hendrerit vitae nisl. Etiam pellentesque massa vel est ultrices pellentesque. Mauris fringilla orci a enim egestas euismod. Aliquam euismod lorem id augue commodo tincidunt.

    Praesent dictum tempus mauris, at molestie odio vulputate iaculis. Etiam sodales neque in venenatis lobortis. Nullam aliquet quam in dui pharetra, id molestie metus facilisis. Aenean eget leo iaculis, venenatis justo et, blandit neque. Maecenas volutpat scelerisque metus, ut accumsan nunc interdum sed. Donec pulvinar imperdiet lectus, et elementum erat pretium eget. Praesent blandit ante ipsum. In eget dui a sapien convallis suscipit et sit amet lorem. Nunc ultrices consequat nisi in lacinia.

    Nulla id iaculis dolor, vel porttitor purus. In eros enim, ornare sed vulputate nec, aliquam id elit. Donec quis urna ante. Nam eget erat a purus ultrices placerat. Phasellus porttitor aliquam mi, ac pulvinar purus porttitor ut. Etiam pellentesque egestas dolor, id cursus erat interdum eget. Praesent neque nibh, ultrices sit amet justo non, tristique feugiat diam. Mauris tristique lobortis nibh ac feugiat. Nullam in mauris quis urna rutrum malesuada eget vitae arcu. Praesent blandit, enim at pulvinar pellentesque, mi ligula maximus mi, quis lobortis tellus nisl in tortor. Sed nisl metus, placerat accumsan consectetur at, suscipit sed nisl. Quisque sit amet ligula mattis, facilisis ex ut, ornare turpis. Etiam maximus sagittis lacinia.</p>
  </div>
</div>


<div class="ui basic modal modal-cookie">
  <i class="close icon"></i>
  <div class="header">
    <span translate>Cookie</span>
  </div>
  <div class="scrolling content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius nec felis at fringilla. Curabitur varius, dui nec vulputate tincidunt, ligula tortor laoreet dui, quis vehicula urna diam ac elit. Curabitur fermentum feugiat mi, porta cursus turpis mollis ut. Morbi sit amet finibus mi. Proin eu arcu ligula. Phasellus a nunc lobortis ipsum lobortis iaculis sit amet eget sapien. Praesent laoreet orci ut hendrerit iaculis. Fusce ultricies cursus velit sed posuere. Nulla in leo non nibh maximus rhoncus in malesuada mauris. Suspendisse et commodo sem. Aliquam facilisis rhoncus purus vitae placerat. Etiam vehicula purus leo, ac tristique mauris elementum sed. Vestibulum lobortis blandit volutpat. Donec viverra aliquet placerat.

    Cras faucibus ipsum vel ultrices laoreet. Cras sed nisi nec magna posuere rutrum eu in justo. Integer euismod ante nec turpis rhoncus luctus. Duis tristique sed justo quis congue. Morbi condimentum tellus ante, convallis efficitur tellus porta sit amet. Etiam neque libero, molestie at est id, posuere venenatis ligula. In hac habitasse platea dictumst. Nunc scelerisque ipsum massa, et ornare lacus egestas in. Pellentesque at tortor ut risus facilisis porta quis quis dui. Morbi fermentum convallis dignissim. Vivamus vel elementum lectus. Mauris hendrerit ut libero bibendum hendrerit.

    Cras mollis neque orci, volutpat aliquet mi pretium eget. Duis ut tempus risus. Praesent tempus et lorem non laoreet. Vivamus consectetur metus sed dapibus tristique. Integer in commodo nisl, a faucibus eros. Pellentesque egestas finibus quam in ultricies. Ut nisi mi, sagittis eget ornare non, hendrerit vitae nisl. Etiam pellentesque massa vel est ultrices pellentesque. Mauris fringilla orci a enim egestas euismod. Aliquam euismod lorem id augue commodo tincidunt.

    Praesent dictum tempus mauris, at molestie odio vulputate iaculis. Etiam sodales neque in venenatis lobortis. Nullam aliquet quam in dui pharetra, id molestie metus facilisis. Aenean eget leo iaculis, venenatis justo et, blandit neque. Maecenas volutpat scelerisque metus, ut accumsan nunc interdum sed. Donec pulvinar imperdiet lectus, et elementum erat pretium eget. Praesent blandit ante ipsum. In eget dui a sapien convallis suscipit et sit amet lorem. Nunc ultrices consequat nisi in lacinia.

    Nulla id iaculis dolor, vel porttitor purus. In eros enim, ornare sed vulputate nec, aliquam id elit. Donec quis urna ante. Nam eget erat a purus ultrices placerat. Phasellus porttitor aliquam mi, ac pulvinar purus porttitor ut. Etiam pellentesque egestas dolor, id cursus erat interdum eget. Praesent neque nibh, ultrices sit amet justo non, tristique feugiat diam. Mauris tristique lobortis nibh ac feugiat. Nullam in mauris quis urna rutrum malesuada eget vitae arcu. Praesent blandit, enim at pulvinar pellentesque, mi ligula maximus mi, quis lobortis tellus nisl in tortor. Sed nisl metus, placerat accumsan consectetur at, suscipit sed nisl. Quisque sit amet ligula mattis, facilisis ex ut, ornare turpis. Etiam maximus sagittis lacinia.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius nec felis at fringilla. Curabitur varius, dui nec vulputate tincidunt, ligula tortor laoreet dui, quis vehicula urna diam ac elit. Curabitur fermentum feugiat mi, porta cursus turpis mollis ut. Morbi sit amet finibus mi. Proin eu arcu ligula. Phasellus a nunc lobortis ipsum lobortis iaculis sit amet eget sapien. Praesent laoreet orci ut hendrerit iaculis. Fusce ultricies cursus velit sed posuere. Nulla in leo non nibh maximus rhoncus in malesuada mauris. Suspendisse et commodo sem. Aliquam facilisis rhoncus purus vitae placerat. Etiam vehicula purus leo, ac tristique mauris elementum sed. Vestibulum lobortis blandit volutpat. Donec viverra aliquet placerat.

    Cras faucibus ipsum vel ultrices laoreet. Cras sed nisi nec magna posuere rutrum eu in justo. Integer euismod ante nec turpis rhoncus luctus. Duis tristique sed justo quis congue. Morbi condimentum tellus ante, convallis efficitur tellus porta sit amet. Etiam neque libero, molestie at est id, posuere venenatis ligula. In hac habitasse platea dictumst. Nunc scelerisque ipsum massa, et ornare lacus egestas in. Pellentesque at tortor ut risus facilisis porta quis quis dui. Morbi fermentum convallis dignissim. Vivamus vel elementum lectus. Mauris hendrerit ut libero bibendum hendrerit.

    Cras mollis neque orci, volutpat aliquet mi pretium eget. Duis ut tempus risus. Praesent tempus et lorem non laoreet. Vivamus consectetur metus sed dapibus tristique. Integer in commodo nisl, a faucibus eros. Pellentesque egestas finibus quam in ultricies. Ut nisi mi, sagittis eget ornare non, hendrerit vitae nisl. Etiam pellentesque massa vel est ultrices pellentesque. Mauris fringilla orci a enim egestas euismod. Aliquam euismod lorem id augue commodo tincidunt.

    Praesent dictum tempus mauris, at molestie odio vulputate iaculis. Etiam sodales neque in venenatis lobortis. Nullam aliquet quam in dui pharetra, id molestie metus facilisis. Aenean eget leo iaculis, venenatis justo et, blandit neque. Maecenas volutpat scelerisque metus, ut accumsan nunc interdum sed. Donec pulvinar imperdiet lectus, et elementum erat pretium eget. Praesent blandit ante ipsum. In eget dui a sapien convallis suscipit et sit amet lorem. Nunc ultrices consequat nisi in lacinia.

    Nulla id iaculis dolor, vel porttitor purus. In eros enim, ornare sed vulputate nec, aliquam id elit. Donec quis urna ante. Nam eget erat a purus ultrices placerat. Phasellus porttitor aliquam mi, ac pulvinar purus porttitor ut. Etiam pellentesque egestas dolor, id cursus erat interdum eget. Praesent neque nibh, ultrices sit amet justo non, tristique feugiat diam. Mauris tristique lobortis nibh ac feugiat. Nullam in mauris quis urna rutrum malesuada eget vitae arcu. Praesent blandit, enim at pulvinar pellentesque, mi ligula maximus mi, quis lobortis tellus nisl in tortor. Sed nisl metus, placerat accumsan consectetur at, suscipit sed nisl. Quisque sit amet ligula mattis, facilisis ex ut, ornare turpis. Etiam maximus sagittis lacinia.</p>
  </div>
</div>
