<!-- <td-layout class="layout-map" [mode]="'side'" [opened]="sidenav" [sidenavWidth]="'284px'">
  <div flex td-sidenav-content class="sidenav-profile">
    <div class="pad-left-md pad-right-md" layout="column" layout-fill flex>
      <div class="size-height-32"></div>

      <div class="size-height-12"></div>
    </div>
  </div>
  
  <div class="masthead">
    <button class="ui right icon big bgc-blue-grey-50 button" [ngClass]="{'sidenav-animation': sidenav}"
      [ngStyle]="{
        'position': 'fixed',
        'top': '2.5em',
        'left': sidenav ? '19.8em' : '4em'}"
      matTooltip="{{'Twoje konto' | translate}}" matTooltipPosition="after"
      (click)="sidenav = !sidenav">
      <i class="angle double {{sidenav ? 'left' : 'right'}} icon" ></i>
      <span>&nbsp;</span>
    </button>

    <div class="ui two column grid masthead-header">
      <div class="column row">
        <div class="left aligned six wide column" style="margin-top: 3px;">
          <h3 class="ui header">
            <div class="content">
              <span class="mat-title">{{'Mapa' | translate}}</span>
            </div>
          </h3>
        </div>
        <div class="right aligned ten wide column">

        </div>
      </div>
    </div>    

    <div class="ui column centered grid masthead-map">
      <div class="column row">
        <div class="sixteen wide column">
          <div class="ui basic segment">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</td-layout> -->

<mat-sidenav-container autosize fullscreen>
  <mat-sidenav mode="side" [opened]="sidenav" class="mat-elevation-z6 sidenav-map">
    <div class="pad-left-md pad-right-md" layout="column" layout-fill flex>
      <div class="size-height-32"></div>

      <div class="size-height-12"></div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="masthead">
      <button class="ui right icon big bgc-grey-50 button" [ngClass]="{'sidenav-animation': sidenav}"
        [ngStyle]="{
          'position': 'fixed',
          'top': '2.5em',
          'left': sidenav ? '19.8em' : '4em',
          'z-index': '1'}"
        matTooltip="{{'Twoje konto' | translate}}" matTooltipPosition="after"
        (click)="sidenav = !sidenav">
        <i class="angle double {{sidenav ? 'left' : 'right'}} icon" ></i>
        <span>&nbsp;</span>
      </button>  
  
      <div id="map" class="map"></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>