.masthead-header {
  margin: .25em 2.5em 0 5em;
  z-index: 9;
}
.masthead-map {
  margin: 0;
}
.ui.relaxed.list>.item {
  padding-bottom: .8em !important;
}
.sidenav-map {
  width: 284px;
}
.sidenav-animation {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.map {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 0;
}
