.masthead-loading {
  margin: 0 !important;
  padding: 0 !important;
  height: 0;
}
.masthead-header {
  margin: 0;
  padding: .25em 2.5em 0 5em;
  background-color: rgba($color: #cccbd5, $alpha: .1);
}
.masthead-dashboard {
  margin: 0 !important;
  background-color: rgba($color: #cccbd5, $alpha: .1);
}
.masthead-content {
  margin: 2em 5em;
}
.ui.relaxed.list>.item {
  padding-bottom: .8em !important;
}
.sidenav-animation {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.button-fast {
  margin: .5em;
  padding: 2em !important;
  width: 130px;
  min-height: 112px;
  background-color: rgba(77,182,172,.7) !important;
  &:hover {
    background-color: rgba(77,182,172,1) !important;
  }
  i {
    font-size: 2em;
  }
  i.icon {
    margin: unset !important;
  }
}
.notifications, .settings {
  background: transparent;
}
.notifications {
  &:hover {
    background-color: rgba(128,203,196,1) !important;
    color: white !important;
  }
}
.settings {
  padding: 0 !important;
  &:hover {
    background-color: rgba(128,203,196,1) !important;
    color: white !important;
  }
}
.ui.floating.label {
  top: -5px !important;
}
.ui.statistic>.value {
  text-align: left !important;
  padding-bottom: .3em !important;
}
.ui.header>.image:not(.icon), .ui.header>img {
  min-width: 3em !important;
}
