<td-layout class="layout-dashboard" [mode]="'side'" [opened]="sidenav" [sidenavWidth]="'284px'">
  <div flex td-sidenav-content class="mat-elevation-z6 sidenav-profile">
    <div class="pad-left-md pad-right-md" layout="column" layout-fill flex>

      <div class="size-height-32"></div>

      <div layout="column" layout-align="start start">
        <h4 class="ui header">
          <ngx-avatar class="ui image" name="{{userLogged?.fullName}}" size="48"></ngx-avatar>
          <div class="content">
            <span class="ui text">{{userLogged?.fullName}}</span>

            <div class="size-height-6"></div>

            <div class="sub header">
              <div class="ui label"><i class="circle green icon"></i> {{'online' | translate}}</div>
            </div>
          </div>
        </h4>

        <div class="size-height-32"></div>
      </div>

      <div layout="column" layout-align="start start" flex>

        <div class="size-height-32"></div>

        <!-- <div class="ui calendar" id="inline-calendar"></div> -->

        <div class="size-height-32"></div>
      </div>

      <div layout="column" layout-align="end start" flex>
        <div class="ui relaxed list">
          <div class="item">
            <i class="code branch middle aligned icon"></i>
            <div class="content">
              <a class="header">{{'wersja aplikacji' | translate}}</a>
              <div class="description">{{system.version}}</div>
            </div>
          </div>
          <div class="item">
            <i class="code branch middle aligned icon"></i>
            <div class="content">
              <a class="header">{{'typ wersji' | translate}}</a>
              <div class="description">{{system.type}}</div>
            </div>
          </div>
          <div class="item">
            <i class="clock outline middle aligned icon"></i>
            <div class="content">
              <a class="header">{{'poprawne logowanie' | translate}}</a>
              <div class="description">{{userLogged?.lastValidLogin | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
            </div>
          </div>
          <div class="item">
            <i class="clock outline middle aligned icon"></i>
            <div class="content">
              <a class="header">{{'nieudane logowanie' | translate}}</a>
              <div class="description">{{userLogged?.lastIncorrectLogin | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="size-height-12"></div>
    </div>
  </div>

  <div class="ui column grid masthead-loading">
    <div class="column" style="padding: 0;">
      <div *tdLoading="'listSyntax'; type:'linear'; mode:'indeterminate'; color:'primary'"></div>
    </div>
  </div>

  <div class="masthead">
    <button class="ui right icon big bgc-blue-grey-100 button" [ngClass]="{'sidenav-animation': sidenav}"
      [ngStyle]="{
        'position': 'fixed',
        'top': '2.5em',
        'left': sidenav ? '19.8em' : '4em',
        'z-index': 1}"
      matTooltip="{{'Twoje konto' | translate}}" matTooltipPosition="after"
      (click)="sidenav = !sidenav">
      <i class="angle double {{sidenav ? 'left' : 'right'}} icon" ></i>
      <span>&nbsp;</span>
    </button>

    <div class="ui two column grid masthead-header">
      <div class="column row" style="padding-bottom: 0;">
        <div class="left aligned six wide column">
          <!-- <h4 class="ui header">
            <div class="content">
              <span class="mat-title">{{'Dashboard' | translate}}</span>
              <span class="pad-left-md pad-right-md tc-blue-grey-200" style="vertical-align: sub; font-size: 2em; font-weight: lighter;">|</span>
              <span class="mat-title tc-blue-grey-600" style="font-weight: bold;">{{userLogged?.firstName}}</span>
            </div>
          </h4> -->
        </div>
        <div class="right aligned ten wide column">
          <div class="row">
            <div class="ui icon top right pointing dropdown circular button notifications" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
              <i class="bell outline icon"></i>
              <div class="floating ui red circular label">22</div>
              <div class="menu">
                <div class="ui relaxed divided selection list">
                  <ng-template ngFor let-notification let-i="index" let-last="last" [ngForOf]="notifications">
                    <div class="item" style="padding: 1em;">
                      <i class="{{notification.icon}} middle aligned icon" style="vertical-align: middle; padding-right: unset;"></i>
                      <div class="content">
                        <a class="header">{{notification.name}}</a>
                        <div class="description">{{notification.date | date:'dd-MM-yyyy HH:mm'}}</div>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>

            <span class="pad-left-sm pad-right-sm"></span>

            <div class="ui icon top left pointing dropdown circular button settings" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
              <div layout="row" layout-align="start center">
                <ngx-avatar name="{{userLogged?.fullName}}" size="36"></ngx-avatar>
                <span class="text pad-left-sm pad-right-sm">{{userLogged?.fullName}}</span>
              </div>
              <div class="menu">
                <div class="item">
                  <i class="settings icon"></i>
                  <span>{{'Moje konto' | translate}}</span>
                </div>
                <div class="item">
                  <i class="bug icon"></i>
                  <span>{{'Zgłoś problem' | translate}}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                  <i class="tools icon"></i>
                  <span>{{'Dostosuj aplikację' | translate}}</span>
                </div>
                <div class="divider"></div>
                <div class="item">
                  <i class="user lock icon"></i>
                  <span>{{'Zablokuj' | translate}}</span>
                </div>
                <div class="item">
                  <i class="sign out alternate icon"></i>
                  <span>{{'Wyloguj' | translate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui column grid masthead-dashboard">
      <div class="column row" style="padding-top: 0;">
        <div class="left aligned sixteen wide column">
          <div class="ui basic segment">
            <div class="ui centered grid">
              <div class="fourteen wide column" style="padding: 0;">
                <div layout="row" layout-align="start start">
                  <div layout="row" layout-align="start start">
                    <h3 class="ui header" style="position: absolute; top: 0;">
                      <i class="lightbulb outline icon tc-teal-400 pad-right-sm" style="font-size: 2.5em;"></i>
                      <div class="content">
                        <span class="mat-title">{{'Witaj' | translate}}</span>
                        <span class="pad-left-md pad-right-md tc-blue-grey-200" style="vertical-align: sub; font-size: 2em; font-weight: lighter;">|</span>
                        <span class="mat-title tc-blue-grey-600" style="font-weight: bold;">{{userLogged?.firstName}}</span>

                        <div class="size-height-12"></div>

                        <div class="sub header">
                          <span>{{'Rozpocznij swoją w pracę w aplikacji' | translate}}</span>
                          <span class="pad-left-xs" style="font-style: italic;">{{system.appName}}</span>
                        </div>
                      </div>
                    </h3>
                  </div>

                  <div layout="row" layout-align="end end" flex>
                    <div class="size-height-12"></div>

                    <h3 class="ui header">
                      <i class="calendar alternate outline icon tc-teal-400"></i>
                      <div class="content">

                        <div class="sub header">
                          <span class="ui text">{{'Dzisiaj jest' | translate}}</span>
                          <span class="mat-subheading-2 tc-blue-grey-600 pad-left-xs text-lower">{{date | date:'EEEE':'pl'}}</span>
                        </div>

                        <div class="size-height-6"></div>

                        <span class="subheading-2 tc-blue-grey-600 text-lower" style="font-weight: bold;">{{date | date:'dd MMMM yyyy':'pl'}}</span>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui divider" style="border-width: .2em; margin: 0;"></div>

    <div class="ui equal width grid masthead-content">
      <div class="column">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <app-widget-blank [config]="configCalendar">
                <div content>

                  <ng-template #openDayEventsTemplate
                    let-events="events"
                    let-eventClicked="eventClicked"
                    let-isOpen="isOpen"
                    let-trackByEventId="trackByEventId"
                    let-validateDrag="validateDrag">

                    <div class="cal-open-day-events" *ngIf="isOpen" role="application">
                      <span tabindex="-1" role="alert" [attr.aria-label]="{ date: date, locale: locale } | calendarA11y: 'openDayEventsAlert'"></span>
                      <span tabindex="0" role="landmark" [attr.aria-label]="{ date: date, locale: locale } | calendarA11y: 'openDayEventsLandmark'"></span>

                      <div *ngFor="let event of events; trackBy: trackByEventId"
                        mwlDraggable dragActiveClass="cal-drag-active"
                        [ngClass]="event?.cssClass"
                        [class.cal-draggable]="event.draggable"
                        [dropData]="{ event: event }"
                        [dragAxis]="{ x: event.draggable, y: event.draggable }"
                        [validateDrag]="validateDrag" style="display: flex; padding: .25em .1em; width: fit-content;">

                        <span class="cal-event" [ngStyle]="{ backgroundColor: event.color?.primary }"
                          style="margin-top: 5px; width: 10px; border: none; border-radius: 10px; box-shadow: none;"></span>

                        <mwl-calendar-event-title [event]="event"
                          [customTemplate]="eventTitleTemplate"
                          (mwlClick)="eventClicked.emit({ event: event, sourceEvent: $event })"
                          (mwlKeydownEnter)="eventClicked.emit({ event: event, sourceEvent: $event })"
                          view="month" tabindex="0" style="margin: .25em;"
                          [attr.aria-label]="{ event: event, locale: locale } | calendarA11y: 'eventDescription'">
                        </mwl-calendar-event-title>

                        <!-- <mwl-calendar-event-actions [event]="event" [customTemplate]="eventActionsTemplate"></mwl-calendar-event-actions> -->
                      </div>
                    </div>
                  </ng-template>

                  <ng-template #cellTemplate
                    let-day="day"
                    let-openDay="openDay"
                    let-locale="locale"
                    let-highlightDay="highlightDay"
                    let-unhighlightDay="unhighlightDay"
                    let-eventClicked="eventClicked"
                    let-trackByEventId="trackByEventId"
                    let-validateDrag="validateDrag">

                    <div class="cal-cell-top" [attr.aria-label]="{ day: day, locale: locale } | calendarA11y: 'monthCell'">
                      <span aria-hidden="true">
                        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0" matTooltip="{{'Liczba zdarzeń' | translate}}" [matTooltipPosition]="'above'">{{day.badgeTotal}}</span>
                        <span class="cal-day-number">{{day.date | calendarDate: 'monthViewDayNumber':locale}}</span>
                      </span>
                    </div>

                    <div class="cal-events" *ngIf="day.events.length > 0">
                      <div class="cal-event"
                        *ngFor="let event of day.events | slice:0:4; trackBy: trackByEventId"
                        [ngStyle]="{ backgroundColor: event.color?.primary }"
                        [ngClass]="event?.cssClass"
                        (mouseenter)="highlightDay.emit({ event: event })"
                        (mouseleave)="unhighlightDay.emit({ event: event })"
                        mwlDraggable
                        [class.cal-draggable]="event.draggable"
                        dragActiveClass="cal-drag-active"
                        [dropData]="{ event: event, draggedFrom: day }"
                        [dragAxis]="{ x: event.draggable, y: event.draggable }"
                        [validateDrag]="validateDrag"
                        (mwlClick)="eventClicked.emit({ event: event, sourceEvent: $event })"
                        [attr.aria-hidden]="{} | calendarA11y: 'hideMonthCellEvents'">
                      </div>
                    </div>
                  </ng-template>

                  <ng-template #eventTitleTemplate let-event="event" let-view="view">
                    <span class="cal-event-title">
                      <span *ngIf="!event.allDay; else templateAllDay">{{event.start | date:'HH:mm'}}</span>
                      <ng-template #templateAllDay>
                        <span>{{event.start | date:'yyyy-MM-dd HH:mm'}} - {{event.end | date:'yyyy-MM-dd HH:mm'}}</span>
                      </ng-template>
                      <span [attr.aria-hidden]="{} | calendarA11y: 'hideEventTitle'">
                        {{(event.title | calendarEventTitle: view:event)}}
                      </span>
                    </span>
                  </ng-template>

                  <mwl-calendar-month-view
                    [viewDate]="viewDate"
                    [events]="events"
                    [locale]="locale"
                    [refresh]="refresh"
                    [activeDayIsOpen]="activeDayIsOpen"
                    [openDayEventsTemplate]="openDayEventsTemplate"
                    [cellTemplate]="cellTemplate"
                    (dayClicked)="dayClicked($event.day)"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)">
                  </mwl-calendar-month-view>
                </div>
              </app-widget-blank>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <app-widget-blank [config]="configHistoryOperation"></app-widget-blank>
            </div>
          </div>
        </div>
      </div>

      <div class="column" [ngStyle]="{'min-width': sidenav ? '330px' : '480px', 'max-width': sidenav ? '330px' : '480px'}">
        <div class="ui relaxed list">
          <div class="item">
            <div class="content">
              <app-widget-blank [config]="configMenu">
                <div content>
                  <div class="ui aligned grid">
                    <div class="sixteen wide column" style="padding: .5em;">
                      <div layout="row" layout-align="start start" layout-wrap flex>
                        <ng-template ngFor let-button let-i="index" let-last="last" [ngForOf]="buttons">
                          <div class="ui icon teal button button-fast" [routerLink]="button.routerLink" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
                          <div layout="column" layout-align="center center">
                            <i class="{{button.icon}} icon"></i>
                            <span>{{button.header | translate}}</span>
                          </div>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </app-widget-blank>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <app-widget-blank [config]="configQuotation">
                <div content>
                  <div class="ui icon info message">
                    <i class="quote left icon"></i>
                    <div class="content">
                    <h4 class="ui header">
                      <span>{{quotation?.title | translate}}</span>
                      <div class="sub header" style="padding-top: 1em; text-align: right; opacity: .7;">
                      <span style="font-style: italic;">{{quotation?.author | translate}}</span>
                      </div>
                    </h4>
                    </div>
                  </div>
                </div>
              </app-widget-blank>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</td-layout>
